<section class="pu-columnslayout">
    <ul class="pu-sub-column" data-column="">
        <li class="pu-sub-tile pu-sub-tile-rendered">
            <div class="pu-tile">
                <article class="pu-partuptile">
                    <ul class="pu-sub-partup-tags">
                        <li><span class="pu-tag">verkoop</span></li>
                        <li><span class="pu-tag">training</span></li>
                        <li><span class="pu-tag">event</span></li>
                        <li><span class="pu-tag">communicatie</span></li>
                        <li><span class="pu-tag">organiseren</span></li>
                    </ul>

                    <header>
                        <h2>
                            <a href="/partups/organiseren-van-hi-salestrainingsdag-voor-start-ups-and-zzp-4seSBrqbAZqAA45nH">Wervingscampagne SalesTrainingsdag voor start-ups &amp; zzp</a>
                        </h2>
                    </header>

                    <section>
                        <!-- Image (circle), uppers, and progress  -->
                        <div class="pu-partupcircle">
                            <a href="/partups/organiseren-van-hi-salestrainingsdag-voor-start-ups-and-zzp-4seSBrqbAZqAA45nH" class="pu-sub-partuplink">
                                <canvas class="pu-sub-radial" data-percent="10" width="195" height="195"></canvas>
                                <figure class="pu-sub-inner" style="background-image: url(&quot;https://s3-eu-west-1.amazonaws.com/partup-production/360x360/images/A44SRRNaBr3xAt9XN-A44SRRNaBr3xAt9XN.jpg&quot;); background-position: left 49.3878% top 17.9487%;" data-partup-tile-focuspoint=""></figure>
                            </a>

                            <!-- Uppers -->
                    
                            <ul class="pu-sub-avatar-list">
                                 <li style="-webkit-transform: translate3d(195px, 95px, 0); -moz-transform: translate3d(195px, 95px, 0); transform: translate3d(195px, 95px, 0); transition-delay: 0s;" data-hovercontainer="HoverContainer_upper" data-hovercontainer-context="7aw4purcbwParerKW">
                                    <a href="/profile/7aw4purcbwParerKW" class="pu-avatar pu-avatar-partuptile">
                                        <img src="https://s3-eu-west-1.amazonaws.com/partup-production/80x80/images/SQGgs4NFBwRozFeCJ-JrKvgAE3B3XhAei2k.jpg" alt="" class="pu-sub-image">
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!-- Description -->
                        <p>Voor deze innovatieve salestraining op 15 maart, heb ik hulp nodig om tenminste 30 (betalende) deelnemers aan te trekken. Er is (bij succes) een budget van € 600 - € 1200 beschikbaar voor jou.</p>

                        <!-- Stats (activities, supporters, days active) -->
                        <ul class="pu-sub-partup-stats">
                            <li>
                                <strong>1</strong>
                                <span>activiteiten</span>
                            </li>
                            <li>
                                <strong>0</strong>
                                <span>supporters</span>
                            </li>
                            <li>
                                <strong>1</strong>
                                <span>dagen actief</span>
                            </li>
                        </ul>
                    </section>

                </article>
            </div>
        </li>
    </ul>
</section>