<li class="pu-notification pu-notification-viewed" data-notification="bp7irENhpFzJML2rD">
    <a href="/partups/lifely-bveest-22-januari-voorbereiden-xwpQNBu9iEWCiB4YZ/updates/iKBGhHyDJ77wRChLr">
        <figure class="pu-avatar pu-avatar-plain" style="background-image: url('https://s3-eu-west-1.amazonaws.com/partup-production/360x360/images/kPB6AE5d5LfvGy7X3-EpWPsBoBexD9QFSMR.jpg');" data-hovercontainer="HoverContainer_upper" data-hovercontainer-context="EpWPsBoBexD9QFSMR">
        </figure>
        <article>
            <p>Nick Koster stelde een bijdrage voor</p>
            <time>22 december 2015 om 17:30 in Lifely BVeest 22 januari voorbereiden</time>
        </article>
    </a>
</li>