<ul class="pu-list">
    <li class="pu-dropdownitem">
        <a href="/partups/improve-international-use-JvxiG4mugM9c6RmHP">
            <figure class="pu-avatar" style="background-image: url('https://s3-eu-west-1.amazonaws.com/partup-production/80x80/images/mqGd2KLKF3tKgWuHR-6PdbjLHaBXfiJKkw7.jpg');"></figure>
            <p>Improve international use</p>

        </a>
    </li>

    <li class="pu-dropdownitem">
        <a href="/partups/improve-frontend-performance-9eLNdtejdxgtqSWYi">
            <figure class="pu-avatar" style="background-image: url('https://s3-eu-west-1.amazonaws.com/partup-production/80x80/images/Stu2XKyTCQsSioAW7-f32B7HQamgPCSL8s9.jpg');"></figure>
            <p>Improve frontend performance</p>

        </a>
    </li>

    <li class="pu-dropdownitem">
        <a href="/partups/enhance-notifications-2xC56der5wdWNoEWM">
            <figure class="pu-avatar" style="background-image: url('https://s3-eu-west-1.amazonaws.com/partup-production/80x80/images/pa56yufiPNB96TkXs-pa56yufiPNB96TkXs.png');"></figure>
            <p>Enhance notifications</p>
        </a>
    </li>

    <li class="pu-dropdownitem">
        <a href="/partups/part-up-devops-q4-DP4JgpKCrYAM2Po3Z">
            <figure class="pu-avatar" style="background-image: url('https://s3-eu-west-1.amazonaws.com/partup-production/80x80/images/4g9sBtZ2MFt3go8zH-jcdSF9ZvccvBHnXae.jpg');"></figure>
            <p>Part-up DevOps Q4</p>
        </a>
    </li>

</ul>
