<nav class="pu-navigation">
    <div class="pu-sub-background" style="width: 900px;"></div>
    <ul class="pu-list pu-list-horizontal">
        <li>
            <a class="pu-button pu-button-nav" href="/partups/annenas-yqsSSPKFo8rR6j8k3">
                <i class="picon-globe"></i>
                Updates
            </a>
        </li>
        <li>
            <a class="pu-button pu-button-nav pu-state-active" href="/partups/annenas-yqsSSPKFo8rR6j8k3/activities">
                <i class="picon-chart"></i>
                Activities
            </a>
        </li>
    </ul>
    <ul class="pu-list pu-list-horizontal pu-sub-right">
        <li>
            <a href="#" data-openpartupsettings="" class="pu-button pu-button-nav pu-button-nav-icon pu-button-spinning">
                <i class="picon-cog"></i>
            </a>
        </li>
    </ul>
</nav>