# NPM
app/packages/*/.npm

# JetBrains Editors
.idea/

# Generated Docs
docs/jsdocs

# Wercker builds
_builds/
_projects/
_steps/

# Generated packages
app/packages/tests-proxy/
app/.demeteorized

# Generated version file
app/public/VERSION

# Backups
backups
translation-exports

# Saved pictures
app/uploads
app/public/uploads

# Temp files
*.swp
*.orig
