<article class="pu-upper">
    <header>
        <a href="/profile/a7qcp5RHnh5rfaeW9" class="pu-sub-figure">
            <figure class="pu-avatar pu-avatar-large" style="background-image: url('https://s3-eu-west-1.amazonaws.com/pu-development/360x360/images/8LSrdjSxqKTfX7xLC-8LSrdjSxqKTfX7xLC.png');">
                
                    <span class="pu-score">10</span>
                
            </figure>
        </a>

        <div class="pu-sub-title">
            <h4>
                <a href="/profile/a7qcp5RHnh5rfaeW9">Judy Partup</a>
            </h4>
            <p>Maastricht</p>
        </div>
    </header>
    <article>
        <p></p>
    </article>
    <footer>
        <ul class="pu-stats">
            <li>
                <span>1</span>
                <span>Part-ups</span>
            </li>
            <li>
                <span>1</span>
                <span>Supporters</span>
            </li>
        </ul>
    </footer>
</article>

