<article class="pu-block pu-block-activity pu-activity pu-activity-expandable" data-activity-id="zFX6uNp2wZcvQ6mKZ">
<!-- If the activity is a single contribution, only show the contribution -->
    <!-- Meta data -->
    <section class="pu-sub-section">

        <!-- Edit button -->

        <!-- Title (could be clickable) -->
        <h3 class="pu-sub-title pu-expander" data-activity-expander="">
            organiseren/beheren gin-tonic bar
            <i class="picon-caret-slim-down"></i>
        </h3>

        <!-- Contributors -->

        <ul class="pu-avatar-stack">
            <li class="pu-avatar" style="background-image: url('https://s3-eu-west-1.amazonaws.com/partup-production/80x80/images/GHYkthgx3QR3Kx8j6-ecBnPTRqd3Rn78bM7.jpg');"></li>
        </ul>

        <!-- If multiple contributions were found, show the activity description and metadata -->

        <p class="pu-block-meta">
            <a class="pu-sub-comments pu-state-unread" href="/partups/lifely-bveest-22-januari-voorbereiden-xwpQNBu9iEWCiB4YZ/updates/RzyDqcDd7BXRFNmWc"><i class="picon-chat"></i> 9 reacties</a>
        </p>
    </section>
    <!-- Show multiple contributions if the activity is expandable -->
</article>