<section class="pu-profile">
    <div class="pu-wrap pu-wrap-columnlayout">
        <div class="pu-info">
            <figure class="pu-avatar pu-avatar-extralarge" style="background-image:url('https://s3-eu-west-1.amazonaws.com/partup-production/360x360/images/GHYkthgx3QR3Kx8j6-ecBnPTRqd3Rn78bM7.jpg');">
                <span class="pu-score pu-score-large">87</span>
            </figure>
            <div>
                <h3>
                    Jasmijn van Es
                    <a href="https://www.facebook.com/jasmijn.vanes" target="_blank"><i class="picon-facebook"></i></a>
                    <a href="https://nl.linkedin.com/in/jasmijnvanes" target="_blank"><i class="picon-linkedin"></i></a>
                    <a href="https://twitter.com/Jasmijn_van_es" target="_blank"><i class="picon-twitter"></i></a>
                    <a href="https://instagram.com/jasmijn_van_es/" target="_blank"><i class="picon-instagram"></i></a>
                </h3>
                <p data-expander-parent="">
                    Hi uppers! I'm one of the members in the Part-up Community Tribe. I daily create content for the blog and social media of Part-up. I love combining text and visuals, for a complete story.
                    
                </p>
                <ul class="pu-list pu-list-horizontal">
                    
                        
                            <li><a class="pu-metadata" href="#" data-location="">
                                <i class="picon-location"></i>
                                <span>Utrecht</span>
                            </a></li>
                        
                    
                    
                        <li><a class="pu-metadata" href="http://www.jasmijnvanes.com" target="_blank">
                            <i class="picon-monitor"></i>
                            <span>Jasmijnvanes.com</span>
                        </a></li>
                    
                </ul>
            </div>
        </div>
    </div>
</section>