body
    background-color: $color-background
    overflow-y: scroll

    #pu-notifycontainer
        position: fixed
        bottom: 30px
        right: 0
        z-index: 101
        pointer-events: all

    &.pu-state-currentlayout-app
        background-color: $color-footer-background

    &.pu-state-currentlayout-modal
        background-color: $color-background-tertiery

    &.pu-state-popupopen
        overflow: hidden

    &.pu-state-dropdownopen
        overflow: hidden
