.pu-article
    padding-left: $grid-column + $grid-gap
    padding-right: $grid-column + $grid-gap

    .pu-paragraph
        + .pu-paragraph
            margin-top: 30px - 4px

        &:last-of-type
            margin-bottom: -8px

    > section
        margin-top: 40px

    h1, h2, h3
        font-weight: 700
        margin-bottom: 10px

    h1
        font-size: 30px
        margin-bottom: 17px

    h2
        font-size: 22px

    h3
        font-size: 18px

    > ul
        margin-top: 30px

        > li
            margin-top: 10px

            &:first-child
                margin-top: 0

        &.pu-list-horizontal
            > li
                margin-top: 0

    .pu-face
        margin-right: 50px

    &-morespace
        > .pu-list
            margin-top: 40px

    &-preview
        font-size: 0
        display: table

        h1
            font-size: 25px
            font-weight: 600
            display: table-caption
            margin-bottom: 16px

            &:after
                content: ''
                width: 60px
                height: 2px
                background-color: $color-primary
                display: block
                margin-top: 30px

        .pu-sub-text,
        .pu-sub-image
            vertical-align: top

        .pu-sub-text
            display: table-row

            p,
            .pu-button
                margin-top: 40px - 14px

                &:first-child
                    margin-top: 40px

            .pu-button
                margin-top: 40px - 8px

        .pu-sub-image
            display: table-header-group
            margin-bottom: 40px

            img
                width: 100%

        @media screen and (min-width: $breakpoint-tablet)
            h1
                display: block

            .pu-sub-text,
            .pu-sub-image
                display: inline-block

            .pu-sub-text
                width: 40%
                padding-right: 50px

                p,
                .pu-button
                    &:first-child
                        margin-top: 0

            .pu-sub-image
                width: 60%

    &-wide
        padding-left: 0
        padding-right: 0

