.pu-brand
    font-family: $font-secondary
    background-image: url(/images/logo.png)
    background-size: contain
    background-position: center
    background-repeat: no-repeat
    width: 94px
    height: 26px

    h1
        display: none

    &-footer
        background-image: url(/images/logo-footer.png)
        width: 118px
        height: 34px