$border-radius: 4px

.pu-chatbox
    position: relative
    margin-bottom: 20px

    .pu-avatar
        width: 32px
        height: 32px
        position: absolute
        top: 2px

    &-receive
        .pu-avatar
            left: -48px

        .pu-list
            li
                display: block
                margin-bottom: 2px

                &:first-child p
                    border-top-left-radius: $border-radius
                    border-top-right-radius: $border-radius
                    border-bottom-right-radius: $border-radius
                    padding-bottom: 0
                    margin-bottom: -7px
                    font-weight: bold

                    span
                        font-size: 13px
                        color: $color-text-subtle

                &:last-child p
                    border-top-right-radius: $border-radius
                    border-bottom-right-radius: $border-radius
                    border-bottom-left-radius: $border-radius

                p
                    display: inline-block
                    padding: 8px 18px
                    background: #eee
                    border: 2px solid #eee
                    border-top-right-radius: $border-radius
                    border-bottom-right-radius: $border-radius

            &:after, &:before
                right: 99.6%
                top: 18px
                border: solid transparent
                content: " "
                height: 0
                width: 0
                position: absolute
                pointer-events: none

            &:after
                border-color: rgba(255, 255, 255, 0)
                border-right-color: #eee
                border-width: 8px
                margin-top: -8px

            &:before
                border-color: rgba(238, 238, 238, 0)
                border-right-color: #eee
                border-width: 11px
                margin-top: -11px

    &-send
        .pu-avatar
            right: -42px

        .pu-list
            text-align: right

            li
                display: block
                margin-bottom: 2px

                &:first-child p
                    border-top-left-radius: $border-radius
                    border-top-right-radius: $border-radius
                    border-bottom-left-radius: $border-radius
                    font-weight: bold

                    span.data
                        font-size: 13px
                        color: $color-text-subtle

                    span.content
                        display: block
                        font-weight: normal
                        margin-top: -5px;

                &:last-child p
                    border-top-left-radius: $border-radius
                    border-bottom-right-radius: $border-radius
                    border-bottom-left-radius: $border-radius

                p
                    display: inline-block
                    padding: 8px 18px
                    background: #fff
                    border: 2px solid #eee
                    border-top-left-radius: $border-radius
                    border-bottom-left-radius: $border-radius

            &:after, &:before
                left: 99.8%
                top: 18px
                border: solid transparent
                content: " "
                height: 0
                width: 0
                position: absolute
                pointer-events: none

            &:after
                border-color: rgba(255, 255, 255, 0)
                border-left-color: #fff
                border-width: 7px
                margin-top: -7px

            &:before
                border-color: rgba(238, 238, 238, 0)
                border-left-color: #eee
                border-width: 10px
                margin-top: -10px








