.pu-chatbox
    position: relative
    margin-bottom: 20px

    .pu-avatar
        width: 32px
        height: 32px
        position: absolute
        top: 0

            // &:after, &:before
            //     left: 100%
            //     top: 20px
            //     border: solid transparent
            //     content: " "
            //     height: 0
            //     width: 0
            //     position: absolute
            //     pointer-events: none

            // &:after
            //     border-color: rgba(255, 255, 255, 0)
            //     border-left-color: #fff
            //     border-width: 8px
            //     margin-top: -8px

            // &:before
            //     border-color: rgba(238, 238, 238, 0)
            //     border-left-color: #eee
            //     border-width: 11px
            //     margin-top: -11px

    .pu-list
        li
            display: block
            margin-bottom: 2px

            &:first-child p
                border-top-left-radius: 14px
                border-top-right-radius: 14px
                // border-top: none
                // border-top-left-radius: 0
                // padding-top: 0
                // margin-top: -3px
                font-weight: bold

                span
                    font-size: 13px
                    color: $color-text-subtle

            p
                display: inline-block
                padding: 8px 18px
                background: #eee
                border: 2px solid #eee
                // border-top-left-radius: 14px
                // border-bottom-left-radius: 14px
                // margin-bottom: 2px


                &:last-child
                    // border-top-left-radius: 14px
                    // border-bottom-right-radius: 14px
                    // border-bottom-left-radius: 14px




    &-receive
        > header
            border-top: 2px solid #eee
            border-right: 2px solid #eee
            border-left: 2px solid #eee
            border-top-left-radius: 14px
            border-top-right-radius: 14px
            font-weight: bold
            padding-top: 8px
            padding-left: 18px
            background: #eee

            span
                font-size: 13px
                color: $color-text-subtle

            &:after, &:before
                right: 100%
                top: 20px
                border: solid transparent
                content: " "
                height: 0
                width: 0
                position: absolute
                pointer-events: none

            &:after
                border-color: rgba(255, 255, 255, 0)
                border-right-color: #eee
                border-width: 8px
                margin-top: -8px

            &:before
                border-color: rgba(238, 238, 238, 0)
                border-right-color: #eee
                border-width: 11px
                margin-top: -11px

        .pu-list
            li
                display: block
                padding: 8px 18px
                background: #eee
                border: 2px solid #eee
                border-top-right-radius: 14px
                border-bottom-right-radius: 14px
                margin-bottom: 2px

                &:first-child
                    border-top: none
                    border-top-right-radius: 0
                    padding-top: 0
                    margin-top: -3px

                &:last-child
                    border-top-right-radius: 14px
                    border-bottom-right-radius: 14px
                    border-bottom-left-radius: 14px



// .pu-chatbox
//     background: #fff
//     position: relative
//     border: 2px solid #eee
//     border-radius: 4px
//     margin-top: 50px
//     padding: 18px 18px

//     > header
//         font-weight: bold

//         span
//             font-size: 13px
//             color: $color-text-subtle

//     .pu-avatar
//         width: 32px
//         height: 32px
//         position: absolute
//         top: 0

//     &-send
//         background: #fff

//         .pu-avatar
//             right: -50px



        &:after, &:before
            left: 100%
            top: 20px
            border: solid transparent
            content: " "
            height: 0
            width: 0
            position: absolute
            pointer-events: none

        &:after
            border-color: rgba(255, 255, 255, 0)
            border-left-color: #fff
            border-width: 8px
            margin-top: -8px

        &:before
            border-color: rgba(238, 238, 238, 0)
            border-left-color: #eee
            border-width: 11px
            margin-top: -11px

    &-receive
        background: #eee

        .pu-avatar
            left: 0

        &:first-child
            &:after, &:before
                right: 100%
                top: 20px
                border: solid transparent
                content: " "
                height: 0
                width: 0
                position: absolute
                pointer-events: none

            &:after
                border-color: rgba(255, 255, 255, 0)
                border-right-color: #eee
                border-width: 8px
                margin-top: -8px

            &:before
                border-color: rgba(238, 238, 238, 0)
                border-right-color: #eee
                border-width: 11px
                margin-top: -11px






