.pu-chat
    width: 860px
    main > header
        padding: 33px 32px 19px 32px
        border: 2px solid #eee
        background: #fff
        border-top-left-radius: 4px
        position: relative
        margin: auto
        width: 100%

    &-wrapper
    	height: 500px
    	overflow: auto
    	background: #fff
    	padding: 22px 80px
    	border-left: 2px solid #eee
    	border-right: 2px solid #eee

    footer
        padding: 22px 22px
        background: #eee

        .pu-formfield
            display: table

            .pu-sub-tablecell-input
                display: table-cell
                width: 100%

            .pu-sub-tablecell-button
                display: table-cell

            button
                height: 44px
                width: 94px
                margin-left: 12px
                vertical-align: middle

