.pu-count
    width: 48px
    height: 48px
    border: 4px solid #5EB5BD
    border-radius: 50%
    background-color: $color-primary-deepdark
    color: #fff
    line-height: 40px
    text-align: center
    font-size: 14px
    font-weight: 700
    a
        display: block
        width: 100%
        height: 100%
        color: #fff
        text-decoration: none
        font-size: 14px
        &:hover,
        &:active,
        &:focus
            color: #fff
