.pu-coverheader
    position: relative
    background-color: $color-primary
    &:after
        background-image: url(/images/about-image.jpg)
        background-size: cover
        filter: grayscale(100%)
        background-position: center
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        content: ''
        opacity: 0.1
