[data-dropbox-chooser]
  margin: 4px 8px 0 0
  cursor: pointer
input.pu-fileinput[disabled]
  cursor: default

[data-browse-photos].pu-state-disabled
  opacity: 0.3
  cursor: default

.pu-media-counter
  float: right
  position: absolute
  bottom: 0
  right: 0
  font-size: 0.8em
  color: gray
