.pu-dropdownitem
    width: 100%

    .pu-sub-newupdates
        float: right
        color: $color-secondary
        font-size: 12px
        font-weight: 700

    > a
        display: block
        text-decoration: none
        color: $color-text-secondary
        padding: 10px
        transition: background-color $animation-duration
        white-space: nowrap
        overflow: hidden
        border-radius: 4px
        margin-left: 10px
        margin-right: 10px
        line-height: 40px

        &:hover,
        &:focus,
        &:active
            background-color: $color-background-tertiery
            color: $color-text-secondary

        figure.pu-avatar
            margin-bottom: -15px
            margin-right: 5px
            vertical-align: top

        figure,
        p
            display: inline-block
            white-space: initial
            vertical-align: middle
            max-width: 335px

    &.pu-dropdownheader
        padding-top: 10px

    &-empty
        a
            font-size: 14px
            font-weight: 700
            color: $color-text-subtle
            cursor: default

            &:hover,
            &:focus,
            &:active
                background-color: transparent
                color: $color-text-subtle

    &-small
        a
            margin: 0
            padding: 0 12px
            border-radius: 0

