.pu-document-renderer
  list-style-type: none
  padding: 0

  .pu-document-name
    font-weight: bold
  .pu-document-bytes
    color: #999
    font-size: inherit

  a
    text-decoration: none
    font-size: inherit
    color: inherit

  li img
    float: left
    margin: 0 15px 0 0
    width: 50px

  li
    padding: 10px
    overflow: auto
    border: 2px solid #eee
    border-radius: 5px
    margin: 10px 0

  li:hover
    cursor: pointer
