li a.pu-external-url,
p a.pu-external-url,
.pu-external-url
    text-decoration: none
    color: #57c0c9
    position: relative
    transition: color .2s

    &:after
        content: ''
        position: absolute
        bottom: -3px
        right: 0
        left: 0
        height: 2px
        transition: bottom .2s, background-color .2s
        background-color: lighten(#57c0c9, 30%)

    &:hover,
    &:active,
    &:focus
        color: #57c0c9
        &:after
            bottom: 0px
            background-color: #57c0c9

.pu-comment
    li a.pu-external-url,
    p a.pu-external-url,
    .pu-external-url
        &:after
            bottom: 0px
            height: 1px

        &:hover,
        &:active,
        &:focus
            &:after
                bottom: 1px
