.pu-feature

    // Icon
    i
        font-size: 30px
        color: $color-primary

    // Title
    h3
        position: relative
        margin-top: 30px - 8px
        font-size: 18px
        
        // Little stripe
        &:after
            content: ''
            display: block
            position: absolute
            width: 20px
            margin-top: 20px - 6px
            border-bottom: 2px solid $color-primary

    // Paragraph
    p
        margin-top: 20px + 10px