.pu-highlight
    padding-left: 40px
    padding-right: 40px
    text-align: center

    h1, h2, p
        text-align: center

    h1
        font-weight: 700
        font-size: 25px

    h2
        font-weight: 700
        font-size: 18px
        margin-bottom: 9px

    p
        margin-bottom: -8px

    &-well
        background-color: $color-background-secondary
        border-radius: 5px
        padding-top: 40px
        padding-bottom: 40px

        h1
            font-size: 30px
            color: lighten($color-text, 10%)
            margin-bottom: 20px

        p
            color: $color-text-subtle
            font-size: 14px
            margin-bottom: 20px

    &-companies
        > h2
            font-weight: normal
            margin-bottom: 15px

            &:after
                content: ''
                width: 60px
                height: 2px
                background-color: $color-primary
                display: block
                margin: auto
                margin-top: 34px

        > p
            margin-bottom: 50px

    @media screen and (min-width: 600px)
        padding-left: 60px
        padding-right: 60px

        &-well
            padding-top: 60px
            padding-bottom: 60px

    @media screen and (min-width: $breakpoint-tablet)
        padding-left: $grid-column + $grid-gap
        padding-right: $grid-column + $grid-gap

        h1
            font-size: 30px
        h2
            font-size: 22px


        &-well
            h1
                font-size: 32px
            p
                font-size: 18px

    @media screen and (min-width: $breakpoint-desktop)
        padding-left: $grid-column * 2 + $grid-gap * 2
        padding-right: $grid-column * 2 + $grid-gap * 2

        &-companies
            p
                padding-left: $grid-column + $grid-gap
                padding-right: $grid-column + $grid-gap
