.picon-bell:before
    font-size: 115%

.picon-chart:before
    font-size: 120%

.picon-check:before
    font-size: 135%

.picon-facebook:before
    font-size: 120%

.picon-globe:before
    font-size: 115%

.picon-instagram:before
    font-size: 120%

.picon-linkedin:before
    font-size: 120%

.picon-megaphone:before
    font-size: 120%

.picon-message:before
    font-size: 115%

.picon-monkeytail:before
    font-size: 120%

.picon-person-plus:before
    font-size: 140%

.picon-question:before
    font-size: 80%

.picon-twitter:before
    font-size: 120%

.picon-chat:before
    font-size: 135%

.picon-photo,
.picon-video,
.picon-profile-card
    &:before
        font-size: 125%

.picon-caret-up,
.picon-caret-right,
.picon-caret-down,
.picon-caret-left
    &:before
        font-size: 75%
