.pu-mention
    &-group
        color: #292929 !important // quick fix
        border-bottom: 1px dotted #ccc
        cursor: help !important // quick fix
        text-decoration: none !important // quick fix

        &:hover
            text-decoration: none
            color: #292929

    &-user
        color: #292929
        font-weight: bold
        text-decoration: none

        &:hover
            color: #292929
