.pu-message
    .pu-textarea
        border-color: darken($color-border-light, 5%)

        &:hover,
        &:active,
        &:focus
            border-color: darken($color-border, 5%)

    .pu-sub-photos
        position: relative
        display: block
        background-color: $color-background
        border: 2px solid darken($color-border-light, 5%)
        border-top: 0
        border-bottom-left-radius: 5px
        border-bottom-right-radius: 5px
        list-style: none
        padding: 12px 12px 0 12px

        &:after
            content: ''
            width: calc(100% + 4px)
            height: 2px
            top: -2px
            left: -2px
            right: -2px
            opacity: 0
            position: absolute
            background-color: darken($color-border, 5%)
            z-index: 100
            display: block
            transition: opacity $animation-duration

        li
            margin: 0
            display: inline-block
            margin-right: 10px
            margin-bottom: 10px

        &:hover,
        &:focus,
        &:active
            border-color: darken($color-border, 5%)

            &:after
                opacity: 1

    &-haspictures
        .pu-textarea
            border-bottom-left-radius: 0
            border-bottom-right-radius: 0
