.pu-progresspager
    $cutoff: 0 // use this to cut off the sides when the progresspager box is too wide
    $item-count: 3
    $grid: $grid-column * 6 + $grid-gap * 5
    $single: ($grid - 10px) / ($item-count - 1)

    width: $single * $item-count - $cutoff * 2

    ol
        width: $single * $item-count
        position: relative
        list-style: none
        padding-left: 0
        @extend %clearfix
        margin-left: - $cutoff

        &:before
            content: ''
            display: block
            pointer-events: none
            background-color: red
            position: absolute
            top: 0
            left: 0
            right: 0
            height: 82px

            /* To edit this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+50,ffffff+100&amp;1+0,1+50,0+100 */
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
            background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%)
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)))
            background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%)
            background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%)
            background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%)
            background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%)
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 )

    li
        position: relative
        width: $single
        float: left
        text-align: center

        // Text
        .pu-sub-pagelink
            display: inline-block
            color: $color-primary
            text-decoration: none
            font-weight: 600
            margin-top: - (20px - 4px)
            padding-top: (20px - 4px) * 2
            transition: color $animation-duration

            &:hover
                border-bottom: 2px solid $color-primary
                transition: border-bottom $animation-duration

        // Skip button
        .pu-sub-skiplink
            display: inline-block
            position: absolute
            bottom: 100%
            margin-bottom: 10px
            left: 50%
            transform: translateX(-50%)
            margin-left: 5px
            opacity: 0
            pointer-events: none
            transition: opacity $animation-duration, color $animation-duration

        // Line
        &:before
            content: ''
            display: block
            position: absolute
            right: 50%
            height: 2px
            width: 100%
            background-color: $color-primary
            transition: background $animation-duration

        // Dot
        &:after
            content: ''
            position: absolute
            left: 50%
            top: -8px
            margin-left: -9px
            width: 10px
            height: 10px
            border-radius: 50%
            background-color: $color-primary
            border: 4px solid #fff
            z-index: 1
            pointer-events: none

        // If this item active
        &.pu-state-active
            .pu-sub-skiplink
                opacity: 1
                pointer-events: all

            .pu-sub-pagelink
                pointer-events: none

            // De-activate all next items
            ~ li
                .pu-sub-pagelink
                    color: #494949
                    pointer-events: none

                &:before
                    background-color: $color-border

                &:after
                    background-color: #494949

        // First child has no tail (line)
        &:first-child
            &:before
                display: none
