.pu-profilemenu
    section
        height: 546px - 60px
        overflow: auto

        > p
            color: $color-text-secondary
            font-weight: 600
            padding: 14px 19px 5px
            font-family: $font-secondary
            font-size: 14px

    > footer
        background-color: $color-header

        li
            min-width: 33%
            max-width: 33%

            a
                display: block
                text-align: center

    section > ul
        margin-bottom: 10px

@media screen and ( max-height: 610px )
    .pu-profilemenu
        section
            height: 346px - 60px
