.pu-partupcircle
    position: relative
    width: 195px
    height: 195px
    border-radius: 50%
    margin: -4px

    .pu-sub-partuplink
        display: block
        width: 195px
        height: 195px
        position: relative

    .pu-sub-radial
        width: 100%
        height: 100%
        display: block
        position: absolute
        top: 0
        left: 0

    .pu-sub-inner
        display: block
        position: absolute
        $offset: 10px
        top: $offset
        left: $offset
        right: $offset
        bottom: $offset
        border-radius: 50%
        background-size: cover
        background-position: center
        background-color: #fafafa
        transition: opacity .2s ease-out

    &:hover
        .pu-sub-inner
            opacity: .8

        .pu-sub-avatar-list li
            filter: grayscale(0)

    &-avatarsexpanded
        &:hover
            .pu-sub-avatar-list li
                filter: none
                transform: none
