.pu-quotes
    display: table
    padding: 40px 30px 0px 30px
    .pu-commentbox
        display: table-cell
        padding-right: 10px
        padding-left: 10px

        .pu-sub-upper
            display: block
            margin-top: 25px
            text-align: left
            padding-left: 20px
            font-weight: bold

            figure
                vertical-align: middle
                margin-right: 10px

