.pu-ring
    width: 100%
    $minus: 100px
    height: calc(100% - #{$minus})
    position: relative
    margin-bottom: -120px
    z-index: 0

    > section
        position: absolute
        transition: opacity .2s
        width: 0px
        height: 0px
        z-index: 0
        opacity: 0

        &:hover
            z-index: 1

        &.show
            opacity: 1

    > div
        position: absolute
        width: 50vw
        height: 100vh
        top: 50%
        left: 50%
        z-index: -1

        &:after
            content: ''
            display: block
            position: absolute
            width: 100vw
            height: 100vh
            top: -50vh
            left: -50vw
            background: url(/images/swarm/bg.svg), url(/images/swarm/swarm.svg)
            background-repeat: no-repeat
            background-position: center center
            background-size: cover
