.pu-ring
    width: 100%
    $minus: 100px
    height: calc(100% - #{$minus})
    position: relative
    margin-bottom: -120px
    z-index: 0

    > section
        position: absolute
        transition: opacity .2s
        width: 0px
        height: 0px
        z-index: 0
        opacity: 0

        &:hover
            z-index: 1

        &.show
            opacity: 1

    > div
        position: absolute
        width: 50vw
        height: 100vh
        top: calc(50% - 60px)
        left: 50%
        z-index: -1

        &:after,
        &:before
            content: ''
            display: block
            position: absolute
            width: 100vw
            height: 100vh
            top: -50vh
            left: -50vw

        &:after
            background-image: linear-gradient(to bottom, rgba($color-primary,0) 0%,rgba($color-primary,1) 90%, rgba($color-primary,1) 100%), url(/images/swarm/bg.svg)
            background-repeat: no-repeat, no-repeat
            background-position: bottom, center center
            background-size: 100% 20%, cover
            z-index: 1

        &:before
            background-image: radial-gradient(circle at center, rgba($color-primary,0) 0%,rgba($color-primary,0) 80%,rgba($color-primary,1) 85%, rgba($color-primary,1) 100%), url(/images/swarm/layer1.svg), url(/images/swarm/layer2.svg), url(/images/swarm/layer3.svg), url(/images/swarm/layer4.svg), url(/images/swarm/layer5.svg)
            background-repeat: no-repeat, no-repeat, repeat, repeat, no-repeat, repeat
            background-position: center, center, 0%, 0%, center, 0%
            background-size:  100%, 1000px, auto, auto, 900px, auto
            z-index: 0
