.pu-state-message
    height: 80px
    background: $color-footer-background
    color: #fff
    padding: 30px 40px

    h3
        font-size: 16px
        font-weight: 700
        color: $color-border

        i
            margin-right: 10px
            color: $color-border
