.pu-spinner
    position: relative
    display: inline-block
    width: 28px
    height: 28px

    &-small
        width: 20px
        height: 20px

    &-large
        width: 48px
        height: 48px
