.pu-switch
    .pu-button-checkmark
        transition: background-color .2s, width .2s


    &-enabled
        .pu-button-checkmark-confirm
            pointer-events: none
        .pu-button-checkmark-deny
            background-color: $color-background-secondary
            width: 30px
            color: $color-text-subtle

            &:hover
                background-color: darken($color-background-secondary, 7%)
                color: darken($color-text-subtle, 7%)
            &:active
                background-color: darken($color-background-secondary, 11%)
                color: darken($color-text-subtle, 11%)


    &-disabled
        .pu-button-checkmark-deny
            pointer-events: none
        .pu-button-checkmark-confirm
            background-color: $color-background-secondary
            width: 30px
            color: $color-text-subtle

            &:hover
                background-color: darken($color-background-secondary, 7%)
                color: darken($color-text-subtle, 7%)
            &:active
                background-color: darken($color-background-secondary, 11%)
                color: darken($color-text-subtle, 11%)
