.pu-swarmcontent
    $pagewidth: 1320px
    max-width: $pagewidth
    margin: 0 auto
    background-color: #fff
    min-height: 100px
    overflow: hidden
    z-index: 1
    position: relative

    > section
        padding: 50px 40px
        //padding: 10px 80px


        &:nth-child(even)
            background-color: $color-background-tertiery

    @media screen and (min-width: $breakpoint-tablet)
        border-radius: 4px

        > section
            padding: 50px 60px

    @media screen and (min-width: $breakpoint-desktop)
        > section
            padding: 60px 60px

    @media screen and (min-width: 1150px)
        > section
            padding: 60px 100px

    @media screen and (min-width: 1340px)
        > section
            padding: 60px 160px

