.pu-swarmcontent
    max-width: 1320px + 40px + 40px
    margin: 0 auto
    background-color: #fff
    min-height: 100px
    border-radius: 4px
    overflow: hidden
    z-index: 1
    position: relative

    section
        padding: 60px

        &:nth-child(even)
            background-color: $color-background-tertiery
