.pu-talltile
    width: 250px
    height: 420px
    display: inline-block
    background-color: #fff
    border: 2px solid $color-border-light
    border-radius: 4px
    white-space: normal
    position: relative
    overflow: hidden

    > header, > article, > footer
        overflow: hidden
        position: relative
        z-index: 1

    > header
        background-color: $color-border-light
        padding: 20px
        padding-right: 10px
        text-align: left
        z-index: 0
        height: 108px

        .pu-list
            height: 80px
            overflow: hidden

    > article
        padding: 20px
        transition: transform .3s
        background-color: #fff

    > footer
        border-top: 2px solid $color-border-light
        padding: 20px
        background-color: #fff
        bottom: 0px
        position: absolute
        right: 0
        left: 0

        .pu-button
            width: 100%
            text-align: center

