.pu-tribebackground
    opacity: 0.2
    background-image: url(/images/about-image.jpg)
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background-size: cover
    filter: grayscale(100%)
    background-position: center
    z-index: 0

