.pu-talltile
    width: 250px
    height: 420px
    display: inline-block
    background-color: #fff
    border: 2px solid $color-border-light
    border-radius: 4px
    white-space: normal

    > header, > article, > footer
        overflow: hidden

    > header
        background-color: $color-border-light
        height: 110px
        padding: 20px
        text-align: left

    > article
        height: 220px
        padding: 20px


    > footer
        border-top: 2px solid $color-border-light
        padding: 20px

        .pu-button
            width: 100%
            text-align: center

