export PORT=3000
export TEMP_DIR=/tmp
export CLOUD_DIR=/tmp

export PARTUP_CRON_ENABLED="1"

export FACEBOOK_APP_ID=""
export FACEBOOK_APP_SECRET=""

export LINKEDIN_API_KEY=""
export LINKEDIN_SECRET_KEY=""

export AWS_ACCESS_KEY_ID=""
export AWS_SECRET_ACCESS_KEY=""
export AWS_BUCKET_REGION=""
export AWS_BUCKET_NAME=""

export FLICKR_API_KEY=""
export FLICKR_SECRET_KEY=""
export FLICKR_GROUP_ID=""

export EVENT_ENDPOINT_URL=""
export EVENT_ENDPOINT_AUTHORIZATION=""

export GOOGLE_API_KEY=""

export METEOR_SETTINGS="{\"public\":{\"analyticsSettings\":{\"Google Analytics\":{\"trackingId\":\"\"}}}}"
