<div class="pu-commentbox">
    <p class="pu-sub-box">
        Het Ministerie van VWS zoekt innovatieve denkers uit de zorgpraktijk om haar beleid samen mee vorm te geven. Doe mee in deze part-up en maak het verschil.
    </p>
    <div class="pu-sub-author pu-row">

        <div class="cell">
            <figure class="pu-avatar pu-avatar-tiny" style="background-image: url('https://s3-eu-west-1.amazonaws.com/partup-production/80x80/images/oyFtWLSyk6bELCY68-SMQRQQk5ovSW5XB6P.jpg')" data-hovercontainer="HoverContainer_upper" data-hovercontainer-context="YQmjmhfrxRe5TF6p7"></figure>
        </div>
        <p class="cell stretch last">
            <a href="/profile/YQmjmhfrxRe5TF6p7"><strong data-hovercontainer="HoverContainer_upper" data-hovercontainer-context="YQmjmhfrxRe5TF6p7">Karen van Ruiten</strong></a>,
            Innovatie bij VWS
        </p>
    </div>
</div>