<section>
    <h2>Deel deze part-up</h2>
    <ul class="pu-list pu-list-horizontal pu-sub-socials">
        <li>
            <a class="pu-button pu-button-social pu-button-social-twitter" data-share-twitter="">
                <i class="picon-twitter"></i>
            </a>
        </li>
        <li>
            <a class="pu-button pu-button-social pu-button-social-facebook" data-share-facebook="">
                <i class="picon-facebook"></i>
            </a>
        </li>
        <li>
            <a class="pu-button pu-button-social pu-button-social-linkedin" data-share-linkedin="">
                <i class="picon-linkedin"></i>
            </a>
        </li>
        <li>
            <a class="pu-button pu-button-social" data-share-mail="">
                <i class="picon-monkeytail"></i>
                <span>11</span>
            </a>
        </li>
    </ul>
</section>