<section>
    <ul class="pu-list pu-list-users">
        <li>
            <a href="/profile/2N5rGN5YJGsZqSc9T" data-hovercontainer="HoverContainer_upper" data-hovercontainer-context="2N5rGN5YJGsZqSc9T">
                <figure class="pu-avatar pu-avatar-offline" style="background-image: url('https://s3-eu-west-1.amazonaws.com/partup-production/80x80/images/qNtSjp2FoF5S3tTgf-qNtSjp2FoF5S3tTgf.jpg')"></figure>
                <p>Janna Boekema</p>
            </a>
        </li>
        <li>
            <a href="/profile/suXXzuJe4ModxJjs7" data-hovercontainer="HoverContainer_upper" data-hovercontainer-context="suXXzuJe4ModxJjs7">
                <figure class="pu-avatar pu-avatar-online" style="background-image: url('https://s3-eu-west-1.amazonaws.com/partup-production/80x80/images/rGS9QTzpNrbq3KnKk-suXXzuJe4ModxJjs7.jpg')"></figure>
                <p>Pim Verlaan</p>
            </a>
        </li>
        <li>
            <a href="/profile/pSwGemFcARZqrkafu" data-hovercontainer="HoverContainer_upper" data-hovercontainer-context="pSwGemFcARZqrkafu">
                <figure class="pu-avatar pu-avatar-offline" style="background-image: url('https://s3-eu-west-1.amazonaws.com/partup-production/80x80/images/cR2D7JgQkBpHqGFbW-cR2D7JgQkBpHqGFbW.jpg')"></figure>
                <p>Bas Dobbelaer</p>
            </a>
        </li>
        <li>
            <a href="/profile/KsyQmeERXbd3q5Bgw" data-hovercontainer="HoverContainer_upper" data-hovercontainer-context="KsyQmeERXbd3q5Bgw">
                <figure class="pu-avatar pu-avatar-offline" style="background-image: url('https://s3-eu-west-1.amazonaws.com/partup-production/80x80/images/w9Hf3u2RZTwWa4RM3-MuG7TB725tDTSjjWB.jpg')"></figure>
                <p>Edgar Veenstra</p>
            </a>
        </li>
    </ul>
</section>

<section>
    <p>User list horizontal</p>
    <ul class="pu-list pu-list-horizontal pu-list-avatars">
        <li>
          <a href="/profile/ZSnWDh54ZBYpZhWHm" data-hovercontainer="HoverContainer_upper" data-hovercontainer-context="ZSnWDh54ZBYpZhWHm">
            <figure data-hovercontainer="HoverContainer_upper" data-hovercontainer-context="ZSnWDh54ZBYpZhWHm" class="pu-avatar pu-avatar-offline" style="background-image: url('https://s3-eu-west-1.amazonaws.com/partup-production/80x80/images/JEqZCtmZbNPsH8khW-TAXwZ6pgtSxi9eSyM.jpg')"></figure>
          </a>
        </li>
        <li>
          <a href="/profile/srrBvEDSpesg9nL86" data-hovercontainer="HoverContainer_upper" data-hovercontainer-context="srrBvEDSpesg9nL86">
            <figure data-hovercontainer="HoverContainer_upper" data-hovercontainer-context="srrBvEDSpesg9nL86" class="pu-avatar pu-avatar-offline" style="background-image: url('https://s3-eu-west-1.amazonaws.com/partup-production/80x80/images/RZhynioccMWwiuZrQ-srrBvEDSpesg9nL86.jpg')"></figure>
          </a>
        </li>
    </ul>
</section>