<nav class="pu-navigation pu-navigation-header pu-navigation-full">
    <ul class="pu-list pu-list-horizontal">
        
            <li>
                <a href="/profile/yHCLy6mXMAgYH6RkD" class="pu-button pu-button-nav pu-button-nav-secondary pu-state-active">
                    Wie is Jasmijn?
                </a>
            </li>
        
        <li>
            <a href="/profile/yHCLy6mXMAgYH6RkD/partner" class="pu-button pu-button-nav pu-button-nav-secondary">
                Partner part-ups
            </a>
        </li>
        <li>
            <a href="/profile/yHCLy6mXMAgYH6RkD/supporter" class="pu-button pu-button-nav pu-button-nav-secondary">
                Supporter part-ups
            </a>
        </li>
    </ul>
    <!-- actions -->
    <ul class="pu-list pu-list-horizontal pu-sub-right">
        
    </ul>
</nav>