<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Part-up Styleguide</title>

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/sg.css">
</head>
<body class="sg-body" ng-app="cb">

    <main class="sg-layout nav-is-open" sg-toggle-class="nav;nav-is-open">

        <a href="#" sg-toggle-button="nav">
            <span class="sg-nav-button sg-nav-button--close"><i class="gi gi-remove-2"></i></span>
            <span class="sg-nav-button sg-nav-button--open"><i class="gi gi-menu-hamburger"></i></span>
        </a>

        <nav class="sg-nav">
            <ul>
                <li><a href="typography.html">Typography</a>
                    <% if name == 'typography' %>
                        <ul>
                            <% for component in readComponentsFor('typography') %>
                                <li><a href="#<%= component.title|url_encode %>"><%= component.title %></a></li>
                            <% endfor %>
                        </ul>
                    <% endif %>
                </li>
                <li><a href="components.html">Components</a>
                    <% if name == 'components' %>
                        <ul>
                            <% for component in readComponentsFor('components') %>
                                <li><a href="#<%= component.title|url_encode %>"><%= component.title %></a></li>
                            <% endfor %>
                        </ul>
                    <% endif %>
                </li>
                <li><a href="forms.html">Forms</a>
                    <% if name == 'forms' %>
                        <ul>
                            <% for component in readComponentsFor('forms') %>
                                <li><a href="#<%= component.title|url_encode %>"><%= component.title %></a></li>
                            <% endfor %>
                        </ul>
                    <% endif %>
                </li>
            </ul>
        </nav>

        <div class="sg-container has-menu">
            <header class="sg-header">
                <h1 class="sg-h1">Part-up <span>Styleguide</span></h1>
            </header>

            <% block page %><% endblock %>
        </div>

    </main>

    <script src="assets/toggle.js"></script>
    <% block scripts %><% endblock %>
</body>
</html>


