<% extends "main.html" %>

<% block page %>

    <article class="sg-page">
        <header class="sg-page-header">
            <h2 class="sg-page-heading"><% block title %><% endblock %></h2>
            <p class="sg-page-description"><% block description %><% endblock %></p>
        </header>

        <% block components %>
            <% for component in readComponentsFor(name) %>

                <% if component.type == 'component' %>
                    <% include 'types/component.html' with component only %>
                <% else %>
                    <% include 'types/custom.html' with component only %>
                <% endif %>
            <% endfor %>
        <% endblock %>
    </article>

<% endblock %>
