.sg-component-example {
    position: relative;
    background-color: #fff;
    padding: 20px;
    $border: 2px solid #ececec;
    border: $border;

    > p {
        position: absolute;
        bottom: 100%;
        right: 20px;
        margin-bottom: 0;
        font-size: 14px;
    }

    .togglesource {
        color: #333;
        margin-right: 10px;

        .gi-embed {
            margin-top: 14px;
            margin-right: 8px;
        }

        span {
            display: none;

            &.is-active {
                display: inline;
            }
        }

        &:focus {
            color: #333;
            text-decoration: none;
        }

        &:active,
        &:hover {
            color: $orange;
            text-decoration: none;
        }
    }

    .label {
        display: inline-block;
        background-color: #fff;
        padding: 10px 15px;
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: 600;
        color: #bbb;
        font-size: 10px;
        letter-spacing: .8px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-top: $border;
        border-left: $border;
        border-right: $border;

        .gi-eye-open {
            margin-top: 6px;
            margin-right: 5px;
        }
    }

    &-expand {
        display: none;

        &.is-active {
            display: block;
        }
    }

    &-expandbutton {
        display: block;
        display: block;
        padding: 4px 20px;
        border: 2px solid #eee;
        border-top: none;
        color: #333;
        background-color: #eee;
        text-align: center;
        font-size: 14px;
        transition: padding, background, border;
        transition-duration: .15s;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;

        &:hover {
            padding-top: 8px;
            padding-bottom: 8px;
            background-color: darken(#eee, 2%);
            border-color: darken(#eee, 2%);
            color: #333;
            text-decoration: none;
        }

        &.is-hidden {
            display: none;
        }
    }

    > div {
        position: relative;

        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }

    &-fullwidth {
        padding-left: 0;
        padding-right: 0;
        border-left-width: 0;
        border-right-width: 0;
        border-bottom-width: 0;

        > div {
            margin-left: - $page_horizontal_padding - $container_padding;
            margin-right: - $page_horizontal_padding - $container_padding;
        }
    }
}
