.sg-component-source {
    pre {
        margin-bottom: 0;
        border: 0;
        border-radius: 0;
        background: none;
        padding: 0;

        .hljs {
        	padding: 20px;
        }

        &.is-hidden {
            display: none;
        }
    }

    &-hidden-by-default {
        display: none;
    }

    &.is-active {
        display: block;
    }
}
