<% set name = title|url_encode %>

<section class="sg-section">
    <h3 class="sg-section-heading">
        <a href="#<%= title|url_encode %>" class="sg-anchor" name="<%= name %>">
            <%= title %>
        </a>
    </h3>
    <p class="sg-section-description"><%= description %></p>

    <div class="sg-section-content">
        <section class="sg-component-example sg-component-example-fullwidth">
            <p>
                <a href="#" class="togglesource" sg-toggle-button="<%= name %>">
                    <i class="gi gi-embed"></i>
                    <span sg-toggle-class="<%= name %>;is-active" class="is-active">View source</span>
                    <span sg-toggle-class="<%= name %>;is-active">Hide source</span>
                </a>
                <span class="label">
                    <i class="gi gi-eye-open"></i>
                    Example
                </span>
            </p>
            <div>
                <% include path %>
            </div>
        </section>

        <section class="sg-component-source sg-component-source-hidden-by-default" sg-toggle-class="<%= name %>;is-active">
            <pre><% highlight 'html' %><% include path %><% endhighlight %></pre>
        </section>
    </div>
</section>
