@font-face {
    font-family: 'proxima-nova';
    src: url('../fonts/proxima-nova/regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima-nova/regular/ProximaNova-Regular.woff') format('woff'),
         url('../fonts/proxima-nova/regular/ProximaNova-Regular.ttf')  format('truetype'),
         url('../fonts/proxima-nova/regular/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima-nova';
    src: url('../fonts/proxima-nova/italic/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima-nova/italic/ProximaNova-RegularIt.woff') format('woff'),
         url('../fonts/proxima-nova/italic/ProximaNova-RegularIt.ttf')  format('truetype'),
         url('../fonts/proxima-nova/italic/ProximaNova-RegularIt.svg#ProximaNova-RegularIt') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'proxima-nova';
    src: url('../fonts/proxima-nova/semibold/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima-nova/semibold/ProximaNova-Semibold.woff') format('woff'),
         url('../fonts/proxima-nova/semibold/ProximaNova-Semibold.ttf')  format('truetype'),
         url('../fonts/proxima-nova/semibold/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'proxima-nova';
    src: url('../fonts/proxima-nova/semibold-italic/ProximaNova-SemiboldIt.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima-nova/semibold-italic/ProximaNova-SemiboldIt.woff') format('woff'),
         url('../fonts/proxima-nova/semibold-italic/ProximaNova-SemiboldIt.ttf')  format('truetype'),
         url('../fonts/proxima-nova/semibold-italic/ProximaNova-SemiboldIt.svg#ProximaNova-SemiboldIt') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'open-sans';
    src: url('../fonts/open-sans/regular/OpenSans.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/regular/OpenSans.woff') format('woff'),
         url('../fonts/open-sans/regular/OpenSans.ttf')  format('truetype'),
         url('../fonts/open-sans/regular/OpenSans.svg#OpenSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    $folder-style-prefix: '/regular';
    font-family: 'open-sans';
    src: url('../fonts/open-sans/regular/opensans-italic-webfont.eot');
    src: url('../fonts/open-sans/regular/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/regular/opensans-italic-webfont.woff2') format('woff2'),
         url('../fonts/open-sans/regular/opensans-italic-webfont.woff') format('woff'),
         url('../fonts/open-sans/regular/opensans-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'open-sans';
    src: url('../fonts/open-sans/semibold/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/semibold/OpenSans-Semibold.woff') format('woff'),
         url('../fonts/open-sans/semibold/OpenSans-Semibold.ttf')  format('truetype'),
         url('../fonts/open-sans/semibold/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'open-sans';
    src: url('../fonts/open-sans/semibold-italic/OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/semibold-italic/OpenSans-SemiboldItalic.woff') format('woff'),
         url('../fonts/open-sans/semibold-italic/OpenSans-SemiboldItalic.ttf')  format('truetype'),
         url('../fonts/open-sans/semibold-italic/OpenSans-SemiboldItalic.svg#OpenSans-SemiboldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'open-sans';
    src: url('../fonts/open-sans/bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/bold/OpenSans-Bold.woff') format('woff'),
         url('../fonts/open-sans/bold/OpenSans-Bold.ttf')  format('truetype'),
         url('../fonts/open-sans/bold/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'open-sans';
    src: url('../fonts/open-sans/bold-italic/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/bold-italic/OpenSans-BoldItalic.woff') format('woff'),
         url('../fonts/open-sans/bold-italic/OpenSans-BoldItalic.ttf')  format('truetype'),
         url('../fonts/open-sans/bold-italic/OpenSans-BoldItalic.svg#OpenSans-BoldItalic') format('svg');
    font-weight: 700;
    font-style: italic;
}
