body {
    background-color: #57c0c9;
    font-family: 'proxima-nova', sans-serif;
    color: white;
    min-width: 320px;
    font-size: 18px;
    text-align: center;
}

article {
    display: inline-block;
    padding: 60px;
    text-align: left;
}

    article header {
        position: relative;
        text-align: center;
        padding-bottom: 33px;
    }

        article header:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -25px;
            width: 50px;
            border-bottom: 2px solid rgba(255, 255, 255, .2);
        }

        article header .wrapper {
            display: inline-block;
            text-align: left;
        }

            article header img {
                width: 192px;
            }

            article header h2 {
                margin-left: 48px;
                font-size: 18px;
                color: rgba(255, 255, 255, .5);
                margin-top: 3px;
                font-family: 'open-sans', sans-serif;
                font-weight: 600;
            }

    article section {
        max-width: 420px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        text-align: center;
    }

        article section p {
            line-height: 1.4em;
            margin-top: 30px;
            font-weight: 300;
        }

        article section p.strong {
            font-weight: 600;
            font-size: 20px;
        }

@media only screen and (min-width: 992px) {
    article {
        margin-top: 100px;
    }

        article header,
        article section {
            float: left;
        }

        article:after {
            content: '';
            display: block;
            clear: left;
        }

        article header {}

            article header:after {
                display: none;
            }

            article header img {
                width: 256px;
            }

            article header h2 {
                margin-left: 63px;
                font-size: 20px;
                margin-top: 10px;
            }

        article section {
            text-align: left;
            margin-top: 0;
            border-left: 2px solid rgba(255, 255, 255, .2);
            margin-left: 40px;
            padding-left: 40px;
        }

            article section p:first-child {
                margin-top: 0;
            }
}
