@font-face {
  font-family: 'Glyphicons Regular';
  src: url('/assets/glyphicons/glyphicons-regular.eot');
  src: url('/assets/glyphicons/glyphicons-regular.eot?#iefix') format('embedded-opentype'),
       url('/assets/glyphicons/glyphicons-regular.woff2') format('woff2'),
       url('/assets/glyphicons/glyphicons-regular.woff') format('woff'),
       url('/assets/glyphicons/glyphicons-regular.ttf') format('truetype'),
       url('/assets/glyphicons/glyphicons-regular.svg#glyphiconsregular') format('svg');
}
