@font-face {
    font-family: 'partup-icons';
    
    src: url("/fonts/icons/partup-icons.eot");
    
    src: url("/fonts/icons/partup-icons.svg#partup-icons"), url("/fonts/icons/partup-icons.ttf"), url("/fonts/icons/partup-icons.eot?#iefix"), url("/fonts/icons/partup-icons.woff");
    
    font-weight: normal;
    font-style: normal;
}

.picon-archive, .picon-arrow-down, .picon-arrow-left, .picon-arrow-right, .picon-arrow-up, .picon-bell, .picon-calendar-check, .picon-caret-down, .picon-caret-left, .picon-caret-right, .picon-caret-slim-down, .picon-caret-slim-left, .picon-caret-slim-right, .picon-caret-slim-up, .picon-caret-up, .picon-chart, .picon-chat, .picon-check, .picon-checkbox, .picon-cog, .picon-crossroad, .picon-facebook, .picon-globe, .picon-icon__download, .picon-icon__upload, .picon-icon_doc, .picon-icon_drive, .picon-icon_dropbox, .picon-icon_pdf, .picon-info, .picon-instagram, .picon-linkedin, .picon-location, .picon-megaphone, .picon-message, .picon-monitor, .picon-monkeytail, .picon-network, .picon-pencil, .picon-person-plus, .picon-photo, .picon-plus, .picon-profile-card, .picon-question, .picon-search, .picon-show, .picon-times, .picon-twitter, .picon-unarchive, .picon-video, .picon-warning {
    font-family: 'partup-icons';
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    speak: none;
    text-transform: none;
    vertical-align: inherit;
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    font-size: 1em;
}


.picon-archive:before {
    content: '\e001';
}

.picon-arrow-down:before {
    content: '\e002';
}

.picon-arrow-left:before {
    content: '\e003';
}

.picon-arrow-right:before {
    content: '\e004';
}

.picon-arrow-up:before {
    content: '\e005';
}

.picon-bell:before {
    content: '\e006';
}

.picon-calendar-check:before {
    content: '\e007';
}

.picon-caret-down:before {
    content: '\e008';
}

.picon-caret-left:before {
    content: '\e009';
}

.picon-caret-right:before {
    content: '\e00a';
}

.picon-caret-slim-down:before {
    content: '\e00b';
}

.picon-caret-slim-left:before {
    content: '\e00c';
}

.picon-caret-slim-right:before {
    content: '\e00d';
}

.picon-caret-slim-up:before {
    content: '\e00e';
}

.picon-caret-up:before {
    content: '\e00f';
}

.picon-chart:before {
    content: '\e010';
}

.picon-chat:before {
    content: '\e011';
}

.picon-check:before {
    content: '\e012';
}

.picon-checkbox:before {
    content: '\e013';
}

.picon-cog:before {
    content: '\e014';
}

.picon-crossroad:before {
    content: '\e015';
}

.picon-facebook:before {
    content: '\e016';
}

.picon-globe:before {
    content: '\e017';
}

.picon-icon__download:before {
    content: '\e018';
}

.picon-icon__upload:before {
    content: '\e019';
}

.picon-icon_doc:before {
    content: '\e01a';
}

.picon-icon_drive:before {
    content: '\e01b';
}

.picon-icon_dropbox:before {
    content: '\e01c';
}

.picon-icon_pdf:before {
    content: '\e01d';
}

.picon-info:before {
    content: '\e01e';
}

.picon-instagram:before {
    content: '\e01f';
}

.picon-linkedin:before {
    content: '\e020';
}

.picon-location:before {
    content: '\e021';
}

.picon-megaphone:before {
    content: '\e022';
}

.picon-message:before {
    content: '\e023';
}

.picon-monitor:before {
    content: '\e024';
}

.picon-monkeytail:before {
    content: '\e025';
}

.picon-network:before {
    content: '\e026';
}

.picon-pencil:before {
    content: '\e027';
}

.picon-person-plus:before {
    content: '\e028';
}

.picon-photo:before {
    content: '\e029';
}

.picon-plus:before {
    content: '\e02a';
}

.picon-profile-card:before {
    content: '\e02b';
}

.picon-question:before {
    content: '\e02c';
}

.picon-search:before {
    content: '\e02d';
}

.picon-show:before {
    content: '\e02e';
}

.picon-times:before {
    content: '\e02f';
}

.picon-twitter:before {
    content: '\e030';
}

.picon-unarchive:before {
    content: '\e031';
}

.picon-video:before {
    content: '\e032';
}

.picon-warning:before {
    content: '\e033';
}

