@font-face
    font-family: 'partup-icons'
    src: url("/fonts/icons/partup-icons.eot")
    src: url("/fonts/icons/partup-icons.woff"), url("/fonts/icons/partup-icons.ttf"), url("/fonts/icons/partup-icons.svg#partup-icons"), url("/fonts/icons/partup-icons.eot?#iefix")
    font-weight: normal
    font-style: normal

.picon-arrow-down, .picon-arrow-left, .picon-arrow-right, .picon-arrow-up, .picon-bell, .picon-calendar-check, .picon-caret-down, .picon-caret-left, .picon-caret-right, .picon-caret-slim-down, .picon-caret-slim-left, .picon-caret-slim-right, .picon-caret-slim-up, .picon-caret-up, .picon-chart, .picon-chat, .picon-check, .picon-checkbox, .picon-cog, .picon-crossroad, .picon-facebook, .picon-globe, .picon-info, .picon-instagram, .picon-linkedin, .picon-location, .picon-megaphone, .picon-message, .picon-monitor, .picon-monkeytail, .picon-network, .picon-pencil, .picon-person-plus, .picon-photo, .picon-plus, .picon-profile-card, .picon-question, .picon-search, .picon-times, .picon-twitter, .picon-video, .picon-warning
    font-family: 'partup-icons'
    -moz-osx-font-smoothing: grayscale
    -webkit-font-smoothing: antialiased
    font-style: normal
    font-variant: normal
    font-weight: normal
    speak: none
    text-transform: none
    vertical-align: inherit
    display: inline-block
    font-size: inherit
    text-rendering: auto
    font-size: 1em


.picon-arrow-down:before
    content: '\e001'

.picon-arrow-left:before
    content: '\e002'

.picon-arrow-right:before
    content: '\e003'

.picon-arrow-up:before
    content: '\e004'

.picon-bell:before
    content: '\e005'

.picon-calendar-check:before
    content: '\e006'

.picon-caret-down:before
    content: '\e007'

.picon-caret-left:before
    content: '\e008'

.picon-caret-right:before
    content: '\e009'

.picon-caret-slim-down:before
    content: '\e00a'

.picon-caret-slim-left:before
    content: '\e00b'

.picon-caret-slim-right:before
    content: '\e00c'

.picon-caret-slim-up:before
    content: '\e00d'

.picon-caret-up:before
    content: '\e00e'

.picon-chart:before
    content: '\e00f'

.picon-chat:before
    content: '\e010'

.picon-check:before
    content: '\e011'

.picon-checkbox:before
    content: '\e012'

.picon-cog:before
    content: '\e013'

.picon-crossroad:before
    content: '\e014'

.picon-facebook:before
    content: '\e015'

.picon-globe:before
    content: '\e016'

.picon-info:before
    content: '\e017'

.picon-instagram:before
    content: '\e018'

.picon-linkedin:before
    content: '\e019'

.picon-location:before
    content: '\e01a'

.picon-megaphone:before
    content: '\e01b'

.picon-message:before
    content: '\e01c'

.picon-monitor:before
    content: '\e01d'

.picon-monkeytail:before
    content: '\e01e'

.picon-network:before
    content: '\e01f'

.picon-pencil:before
    content: '\e020'

.picon-person-plus:before
    content: '\e021'

.picon-photo:before
    content: '\e022'

.picon-plus:before
    content: '\e023'

.picon-profile-card:before
    content: '\e024'

.picon-question:before
    content: '\e025'

.picon-search:before
    content: '\e026'

.picon-times:before
    content: '\e027'

.picon-twitter:before
    content: '\e028'

.picon-video:before
    content: '\e029'

.picon-warning:before
    content: '\e02a'

