$folder-prefix: '/fonts/merriweather'

@font-face
    $folder-style-prefix: '/regular'
    font-family: 'merriweather'
    src: url($folder-prefix + $folder-style-prefix + '/merriweather-regular-webfont.eot?#iefix') format('embedded-opentype'),  url($folder-prefix + $folder-style-prefix + '/merriweather-regular-webfont.woff') format('woff'), url($folder-prefix + $folder-style-prefix + '/merriweather-regular-webfont.ttf')  format('truetype'), url($folder-prefix + $folder-style-prefix + '/merriweather-regular-webfont.svg#merriweatherregular') format('svg')
    font-weight: normal
    font-style: normal
