<div class="pu-progresspager">
    <ol>
        <li class="pu-state-active">
            <a class="pu-sub-pagelink" href="/start/details">Beschrijf je part-up</a>
        </li>
        <li>
            <a class="pu-sub-skiplink pu-button pu-button-skipbutton pu-button-iconright pu-button-text pu-button-text-gray">Overslaan <i class="picon-caret-right"></i></a>
            <a class="pu-sub-pagelink">Bepaal de activiteiten</a>
        </li>
        <li>
            <a class="pu-sub-skiplink pu-button pu-button-skipbutton pu-button-iconright pu-button-text pu-button-text-gray">Overslaan <i class="picon-caret-right"></i></a>
            <a class="pu-sub-pagelink">Deel je part-up</a>
        </li>
    </ol>
</div>
