    <ul class="pu-list pu-list-lineseparated">
        <li>
            <figure class="pu-avatar" style="background-image: url('https://s3-eu-west-1.amazonaws.com/partup-production/360x360/images/rGS9QTzpNrbq3KnKk-suXXzuJe4ModxJjs7.jpg');" data-hovercontainer="HoverContainer_upper" data-hovercontainer-context="suXXzuJe4ModxJjs7"></figure>
            <p class="pu-sub-name">
            <a href="/profile/suXXzuJe4ModxJjs7" class="pu-sub-name" data-hovercontainer="HoverContainer_upper" data-hovercontainer-context="suXXzuJe4ModxJjs7">Pim Verlaan</a>
            </p>
            <button type="button" class="pu-sub-remove pu-button pu-button-checkmark pu-button-checkmark-deny" data-upper-remove="suXXzuJe4ModxJjs7"> <i class="picon-times"></i> </button>
        </li>
        <li>
            <figure class="pu-avatar" style="background-image: url('https://s3-eu-west-1.amazonaws.com/partup-production/360x360/images/3e8bgAzfXtpELPvbF-3e8bgAzfXtpELPvbF.jpg');" data-hovercontainer="HoverContainer_upper" data-hovercontainer-context="tzvA7aCKda8dbaqLW"></figure>
            <p class="pu-sub-name">
            <a href="/profile/tzvA7aCKda8dbaqLW" class="pu-sub-name" data-hovercontainer="HoverContainer_upper" data-hovercontainer-context="tzvA7aCKda8dbaqLW">Peter Peerdeman</a>
            </p>
        </li>

    </ul>
