<section class="pu-sub-visual">
    <div class="pu-sub-partupcirclewrapper">
        <div class="pu-row">
            <ul class="cell pu-sub-partup-stats">
                <li>
                    <strong>0</strong>
                    <span>activities</span>
                </li>
                <li>
                    <strong>0</strong>
                    <span>supporters</span>
                </li>
                <li>
                    <strong>175</strong>
                    <span>days active</span>
                </li>
            </ul>

            <div class="cell last">
                <div class="pu-partupcircle pu-partupcircle-avatarsexpanded">
                    <a href="/partups/organise-a-meteor-meetup-vGaxNojSerdizDPjb">
                        <canvas class="pu-sub-radial" data-percent="10" width="195" height="195"></canvas>
                        <figure class="pu-sub-inner" style="background-image: url('https://s3-eu-west-1.amazonaws.com/pu-development/360x360/images/F4W9LaZps6Tf86hwi-F4W9LaZps6Tf86hwi.png');" data-partup-tile-focuspoint=""></figure>
                    </a>

                    
                        <ul class="pu-sub-avatar-list">
                            
                                
                                     <li style="-webkit-transform: translate3d(220px, 95px, 0); -moz-transform: translate3d(220px, 95px, 0); transform: translate3d(220px, 95px, 0); transition-delay: 0s;" data-hovercontainer="HoverContainer_upper" data-hovercontainer-context="a7qcp5RHnh5rfaeW9">
                                        <a href="/profile/a7qcp5RHnh5rfaeW9" class="pu-avatar pu-avatar-partuptile">
                                            <img src="https://s3-eu-west-1.amazonaws.com/pu-development/80x80/images/8LSrdjSxqKTfX7xLC-8LSrdjSxqKTfX7xLC.png" alt="" class="pu-sub-image">
                                        </a>
                                    </li>
                                
                            
                        </ul>
                    
                </div>
            </div>
        </div>
    </div>
</section>