<ul class="pu-list pu-list-horizontal pu-list-features">
    <li class="pu-feature">
        <i class="picon-crossroad"></i>
        <h3>Outline your part-up</h3>
        <p>Provide a name, goal and short description for your part-up. Determine where the part-up takes place and when it ends.</p>
    </li>
    <li class="pu-feature">
        <i class="picon-checkbox"></i>
        <h3>Define the activities</h3>
        <p>Add activities to your part-up and define what needs to be done to be succesful</p>
    </li>
    <li class="pu-feature">
        <i class="picon-network"></i>
        <h3>Share your part-up</h3>
        <p>You are now ready to get your team together! Share your part-up with your network or social media.</p>
    </li>
</ul>