.sg-page-header {
    border-bottom: 1px solid #ececec;

    .sg-page-heading {
        margin-top: -6px;
        margin-bottom: 30px - 13px;
    }

    .sg-page-description {
        margin-top: -4px;
        margin-bottom: -6px;
    }
}
