.pu-composition-tribestart
    text-align: center
    padding-top: 60px

    header, nav, footer
        z-index: 1

    header
        position: relative
    nav
        position: fixed
        top: 60px
        right: 0
        padding-top: 40px
        padding-right: 40px
        z-index: 10

        .pu-button
            background-color: transparent

            &:focus,
            &:active,
            &:hover
                background-color: transparent

            &:hover
                transform: rotate(-90deg) scale(2)

    > footer
        position: absolute
        right: 0
        bottom: 0
        left: 0
        font-size: 0
        section
            display: inline-block
            text-align: center
            width: 50%
            padding: 15vh 15vw

            .pu-avatar-stack
                margin-bottom: 20px
