.pu-composition-startpartup-promote
    .pu-form
        margin-top: 40px

        .pu-list
            li
                margin-bottom: 10px

                .pu-button 
                    width: 100%

    .pu-previewpost
        margin-top: 40px - 8px