.pu-composition-partupdetailupdates
    $dotted-line-color: #ccc

    > header
        margin-bottom: 40px

        > section
            border-color: $color-background
            border-style: solid
            border-width: 5px 0
            margin: -5px 0

    .pu-sub-timelineline
        display: block
        position: absolute
        top: 0
        bottom: 0
        left: 40px + 20px // 40px is the page padding
        width: 1px
        border-left: 1px dotted $dotted-line-color
        z-index: -1

    .pu-update .pu-avatar-update
        margin: -5px

    .pu-sub-separator
        position: relative
        padding-left: 20px + 40px
        font-size: 12px
        font-family: $font-primary
        letter-spacing: 0.6px
        color: #494949

        &:after
            content: ''
            display: block
            position: absolute
            top: 50%
            left: 2px + 20px // position of vertical line
            width: 40px - 8px
            height: 1px
            border-top: 1px dotted $dotted-line-color

        i
            margin-left: 3px
            font-size: 10px

    .pu-sub-newupdatesseparator
        margin: 0 0 0 70px
        max-height: 0
        opacity: 0
        transition: opacity .3s, margin .8s, padding .8s, max-height .8s

        i
            margin-left: 5px

        .pu-textline
            font-size: 14px
            color: $color-primary

            &:after
                border-top: 2px solid $color-primary
                margin-top: -2px

        &.pu-state-active
            opacity: 1
            max-height: 30px
            transition-duration: 0

    .pu-update,
    .pu-sub-newupdatesseparator,
    .pu-sub-separator
        + .pu-update
            margin-top: 40px - 13px

        + .pu-sub-separator
            margin-top: 50px - 8px
            margin-bottom: 50px - 3px

        + .pu-sub-newupdatesseparator
            &.pu-state-active
                margin-top: 30px

    .pu-sub-revealupdatesbutton
        aside
            height: 1px

    &-newupdatesavailable
        > header
            margin-bottom: 20px
