.pu-composition-startpartupintromodal
    > p + p
        margin-top: 40px - 12px

    .pu-list-features
        margin-top: 50px
        margin-left: - ($grid-column + $grid-gap)
        margin-right: - ($grid-column + $grid-gap)

    .pu-sub-buttoncontainer
        margin-top: 60px
        text-align: center