.pu-composition-defaultmodal
    h2
        margin-top: -10px
        margin-bottom: 20px

    .pu-form
        margin-top: 40px - 8px

    .pu-block-highlighted,
    .pu-form-highlighted,
    .pu-previewpost
        margin-left: -40px
        margin-right: -40px

    .pu-sub-modalfooter
        margin-top: 40px
        text-align: right

        .pu-sub-plain
            line-height: 40px
            padding: 0 15px
            color: $color-text-subtle
            font-weight: bold

        &-alignleft
            text-align: left

        &-scrolling
            z-index: 2
            margin-top: 0
            position: absolute
            bottom: 0
            left: 0
            right: 0
            padding: 25px 20px
            padding-bottom: 25px + 50px
            transition: background .1s

            &-active
                position: fixed
                padding-bottom: 25px
                background-color: #eee

    .pu-sub-footerlink
        margin-top: 30px - 6px

        a
            color: $color-text

    &.pu-composition-fixedfooter
        margin-bottom: 105px
