.pu-composition-networksettings-uppers
    .pu-list
        margin-top: 15px
    h3
        margin-top: 20px
        font-size: 16px

    .pu-sub-name
        a
            color: $color-text
            text-decoration: none

    .pu-sub-mail
    	position: absolute
    	top: 10px
    	left: 45%

    .pu-sub-status
    	position: absolute
    	top: 10px
    	right: 52px
    	font-weight: bold
    	color: $color-primary

    .pu-upper-settings
    	// position: absolute
    	// top: 52px
    	// right: 0
    	width: 190px
    	border: 2px solid #eee
    	border-radius: 5px
    	background-color: #fff
    	z-index: 1

    	&-delete
    		color: $color-alert-error

    	.pu-list-lineseparated
    		margin-top: 0px
    		border-bottom: 0px

    		li
    			padding: 20px
    			border-top: 2px solid #eee
    			display: block
    			background-color: #fff

    			&:first-child
    				border-top: 0px











