.pu-composition-register
    .pu-list-buttons
        margin-top: 40px - 8px

    .pu-textline
        margin-top: 40px - 10px

    .pu-form
        margin-top: 40px - 9px

    .pu-sub-terms
        margin-top: 20px
        font-size: 14px
        color: #999

        a
            color: #999
