.pu-composition-startpartup-contribute
    > .pu-button
        margin-top: 40px - 22px

    > p
        margin-bottom: 40px - 8px

    .pu-form
        margin-top: 40px - 15px
        margin-bottom: 40px - 15px

        &-condensed
            margin: 0