.pu-composition-tribestart
    text-align: center
    padding-top: 60px

    header, nav, footer
        z-index: 1

    header
        position: relative
        padding: 0
        margin: 0 auto
        margin-bottom: 75px
        max-width: 1175px

    nav
        position: fixed
        top: 60px
        right: 0
        padding-top: 30px
        padding-right: 30px
        z-index: 10

        .pu-button
            background-color: transparent

            i
                font-size: 20px

            &:focus,
            &:active,
            &:hover
                background-color: transparent

            &:hover
                transform: rotate(-90deg) scale(1.5)

    > footer
        position: relative
        font-size: 0
        max-width: 1175px
        margin: 0 auto
        section
            display: inline-block
            text-align: center
            width: 50%

            .pu-placeholdertext
                font-size: 20px
                font-weight: 600
                color: #fff
                height: 68px
                line-height: 68px
                margin-bottom: 20px

            .pu-spinner
                width: 100%
                height: 100px
            > ul
                margin-bottom: 20px

                .pu-avatar
                    border-color: #5EB5BD

            .pu-button
                margin-bottom: 20px

    @media screen and (min-height: 1000px)
        padding-top: 100px

        header
            margin-bottom: 145px

    @media screen and (min-height: 1100px)
        padding-top: 150px
