<article class="pu-face">
    <a href="/profile/pbnjsmy75oDNP3vok" class="pu-avatar pu-avatar-extralarge" style="background-image:url(https://part-up.com/images/founders/ralph/profile_picture.jpg);"></a>
    <ul class="pu-list">
        <li><a href="/profile/pbnjsmy75oDNP3vok">Ralph Boeije</a></li>
        <li>+316 1709 4018</li>
        <li><a href="mailto:ralph@part-up.com">ralph@part-up.com</a></li>
    </ul>
    <ul class="pu-list pu-list-horizontal pu-sub-socials">
        <li><a href="https://www.facebook.com/ralphboeije?_rdr=p" target="_blank"><i class="picon-facebook"></i></a></li>
        <li><a href="https://www.linkedin.com/in/ralphboeije" target="_blank"><i class="picon-linkedin"></i></a></li>
        <li><a href="https://twitter.com/ralph_b" target="_blank"><i class="picon-twitter"></i></a></li>
    </ul>
</article>

