.sg-anchor {
	position: relative;

	&:before {
		content: '\e051';
		position: absolute;
		left: -1.25em;
		font-family: "Glyphicons Regular";
		font-size: 0.8em;
		color: #ccc;
		margin-top: 0.1em;
		opacity: 0;
		transform: translateX(5px);
		transition: opacity, transform;
		transition-duration: 150ms;
	}

	&:hover {
		&:before {
			opacity: 1;
			transform: none;
		}
	}
}