.sg-button {
    display: inline-block;
    padding: 15px 20px;
    background-color: $green;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 18px;
    transition: background, transform;
    transition-duration: 150ms;

    .gi {
        color: white;
        margin-right: 5px;
    }

    &:hover {
        background-color: darken($green, 8%);
    }

    &:active {
        transform: scale(.97);
    }

    &-secondary {
        background-color: $lightgreen;

        &:hover {
            background-color: darken($lightgreen, 8%);
        }
    }

    &-tertiery {
        background-color: $gray;

        &:hover {
            background-color: darken($gray, 8%);
        }
    }

    &-text {
        display: inline;
        color: #444;
        background-color: transparent;
        padding: 0;

        &:hover {
            background-color: transparent;
            color: $green;
        }
    }
}
