.sg-colorpalette {
	margin-top: 20px;

	> ul {
		padding-left: 0;
		text-align: left;

		> li {
			display: inline-block;
			margin: 15px 14px 80px 14px;
			width: 92px;
			height: 92px;
			list-style-type: none;
			border-radius: 50%;
			background: #dddddd;
			text-align: center;
			vertical-align: top;

			p {
				margin-top: 100px;
				color: #676767;
				font-size: 13px;
				line-height: 22px;

				span {
					font-weight: bold;
				}
			}

			&.bordered {
				border: 1px solid #eee;
			}
		}
	}
}
