.sg-container {
    min-width: 320px; 
    background-color: #fff;
    margin-bottom: 40px;
    padding-left: $container_padding;
    padding-right: $container_padding;
    transition: margin;
    transition-duration: $nav_hide_duration;

    &-small {
        max-width: 800px;
        margin-left: 20px;
        margin-right: 20px;
    }
}
