.sg-font {
	margin-top: 20px;

	.bigexample,
	.alphabet,
	.details {
		// code to make it float (rhyms)
		float: left;
		font-weight: 500;

	}

	.bigexample + .alphabet {
		// code to create space (margin-left for alphabet)
		margin-left: 40px;
	}

	.alphabet + .details {
		// code to create space (margin-left for details)
		margin-left: 0;
	}

    .alphabet {
    	font-size: 18px;
    	line-height: 1.5em;
    	width: 380px;
    }

    .bigexample {
    	font-size: 18px;
    	line-height: 1.5em;

		h1 {
			font-size: 85px;
		}

    }

    .details {
    	font-size: 16px;
		line-height: 1.5em;
    }

    &:after {
        content: '';
        display: block;
        clear: left;
	}
}
