// Catchall baseclass
.gi {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Regular';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align:top;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Individual icons
.gi-glass{ &:before{ content:"\E001";} }
.gi-leaf{ &:before{ content:"\E002";} }
.gi-dog{ &:before{ content:"\E003";} }
.gi-user{ &:before{ content:"\E004";} }
.gi-girl{ &:before{ content:"\E005";} }
.gi-car{ &:before{ content:"\E006";} }
.gi-user-add{ &:before{ content:"\E007";} }
.gi-user-remove{ &:before{ content:"\E008";} }
.gi-film{ &:before{ content:"\E009";} }
.gi-magic{ &:before{ content:"\E010";} }
.gi-envelope{ &:before{ content:"\2709";} }
.gi-camera{ &:before{ content:"\E011";} }
.gi-heart{ &:before{ content:"\E013";} }
.gi-beach-umbrella{ &:before{ content:"\E014";} }
.gi-train{ &:before{ content:"\E015";} }
.gi-print{ &:before{ content:"\E016";} }
.gi-bin{ &:before{ content:"\E017";} }
.gi-music{ &:before{ content:"\E018";} }
.gi-note{ &:before{ content:"\E019";} }
.gi-heart-empty{ &:before{ content:"\E020";} }
.gi-home{ &:before{ content:"\E021";} }
.gi-snowflake{ &:before{ content:"\2744";} }
.gi-fire{ &:before{ content:"\E023";} }
.gi-magnet{ &:before{ content:"\E024";} }
.gi-parents{ &:before{ content:"\E025";} }
.gi-binoculars{ &:before{ content:"\E026";} }
.gi-road{ &:before{ content:"\E027";} }
.gi-search{ &:before{ content:"\E028";} }
.gi-cars{ &:before{ content:"\E029";} }
.gi-notes-2{ &:before{ content:"\E030";} }
.gi-pencil{ &:before{ content:"\270F";} }
.gi-bus{ &:before{ content:"\E032";} }
.gi-wifi-alt{ &:before{ content:"\E033";} }
.gi-luggage{ &:before{ content:"\E034";} }
.gi-old-man{ &:before{ content:"\E035";} }
.gi-woman{ &:before{ content:"\E036";} }
.gi-file{ &:before{ content:"\E037";} }
.gi-coins{ &:before{ content:"\E038";} }
.gi-airplane{ &:before{ content:"\2708";} }
.gi-notes{ &:before{ content:"\E040";} }
.gi-stats{ &:before{ content:"\E041";} }
.gi-charts{ &:before{ content:"\E042";} }
.gi-pie-chart{ &:before{ content:"\E043";} }
.gi-group{ &:before{ content:"\E044";} }
.gi-keys{ &:before{ content:"\E045";} }
.gi-calendar{ &:before{ content:"\E046";} }
.gi-router{ &:before{ content:"\E047";} }
.gi-camera-small{ &:before{ content:"\E048";} }
.gi-star-empty{ &:before{ content:"\E049";} }
.gi-star{ &:before{ content:"\E050";} }
.gi-link{ &:before{ content:"\E051";} }
.gi-eye-open{ &:before{ content:"\E052";} }
.gi-eye-close{ &:before{ content:"\E053";} }
.gi-alarm{ &:before{ content:"\E054";} }
.gi-clock{ &:before{ content:"\E055";} }
.gi-stopwatch{ &:before{ content:"\E056";} }
.gi-projector{ &:before{ content:"\E057";} }
.gi-history{ &:before{ content:"\E058";} }
.gi-truck{ &:before{ content:"\E059";} }
.gi-cargo{ &:before{ content:"\E060";} }
.gi-compass{ &:before{ content:"\E061";} }
.gi-keynote{ &:before{ content:"\E062";} }
.gi-paperclip{ &:before{ content:"\E063";} }
.gi-power{ &:before{ content:"\E064";} }
.gi-lightbulb{ &:before{ content:"\E065";} }
.gi-tag{ &:before{ content:"\E066";} }
.gi-tags{ &:before{ content:"\E067";} }
.gi-cleaning{ &:before{ content:"\E068";} }
.gi-ruler{ &:before{ content:"\E069";} }
.gi-gift{ &:before{ content:"\E070";} }
.gi-umbrella{ &:before{ content:"\2602";} }
.gi-book{ &:before{ content:"\E072";} }
.gi-bookmark{ &:before{ content:"\E073";} }
.gi-wifi{ &:before{ content:"\E074";} }
.gi-cup{ &:before{ content:"\E075";} }
.gi-stroller{ &:before{ content:"\E076";} }
.gi-headphones{ &:before{ content:"\E077";} }
.gi-headset{ &:before{ content:"\E078";} }
.gi-warning-sign{ &:before{ content:"\E079";} }
.gi-signal{ &:before{ content:"\E080";} }
.gi-retweet{ &:before{ content:"\E081";} }
.gi-refresh{ &:before{ content:"\E082";} }
.gi-roundabout{ &:before{ content:"\E083";} }
.gi-random{ &:before{ content:"\E084";} }
.gi-heat{ &:before{ content:"\E085";} }
.gi-repeat{ &:before{ content:"\E086";} }
.gi-display{ &:before{ content:"\E087";} }
.gi-log-book{ &:before{ content:"\E088";} }
.gi-address-book{ &:before{ content:"\E089";} }
.gi-building{ &:before{ content:"\E090";} }
.gi-eyedropper{ &:before{ content:"\E091";} }
.gi-adjust{ &:before{ content:"\E092";} }
.gi-tint{ &:before{ content:"\E093";} }
.gi-crop{ &:before{ content:"\E094";} }
.gi-vector-path-square{ &:before{ content:"\E095";} }
.gi-vector-path-circle{ &:before{ content:"\E096";} }
.gi-vector-path-polygon{ &:before{ content:"\E097";} }
.gi-vector-path-line{ &:before{ content:"\E098";} }
.gi-vector-path-curve{ &:before{ content:"\E099";} }
.gi-vector-path-all{ &:before{ content:"\E100";} }
.gi-font{ &:before{ content:"\E101";} }
.gi-italic{ &:before{ content:"\E102";} }
.gi-bold{ &:before{ content:"\E103";} }
.gi-text-underline{ &:before{ content:"\E104";} }
.gi-text-strike{ &:before{ content:"\E105";} }
.gi-text-height{ &:before{ content:"\E106";} }
.gi-text-width{ &:before{ content:"\E107";} }
.gi-text-resize{ &:before{ content:"\E108";} }
.gi-left-indent{ &:before{ content:"\E109";} }
.gi-right-indent{ &:before{ content:"\E110";} }
.gi-align-left{ &:before{ content:"\E111";} }
.gi-align-center{ &:before{ content:"\E112";} }
.gi-align-right{ &:before{ content:"\E113";} }
.gi-justify{ &:before{ content:"\E114";} }
.gi-list{ &:before{ content:"\E115";} }
.gi-text-smaller{ &:before{ content:"\E116";} }
.gi-text-bigger{ &:before{ content:"\E117";} }
.gi-embed{ &:before{ content:"\E118";} }
.gi-embed-close{ &:before{ content:"\E119";} }
.gi-table{ &:before{ content:"\E120";} }
.gi-message-full{ &:before{ content:"\E121";} }
.gi-message-empty{ &:before{ content:"\E122";} }
.gi-message-in{ &:before{ content:"\E123";} }
.gi-message-out{ &:before{ content:"\E124";} }
.gi-message-plus{ &:before{ content:"\E125";} }
.gi-message-minus{ &:before{ content:"\E126";} }
.gi-message-ban{ &:before{ content:"\E127";} }
.gi-message-flag{ &:before{ content:"\E128";} }
.gi-message-lock{ &:before{ content:"\E129";} }
.gi-message-new{ &:before{ content:"\E130";} }
.gi-inbox{ &:before{ content:"\E131";} }
.gi-inbox-plus{ &:before{ content:"\E132";} }
.gi-inbox-minus{ &:before{ content:"\E133";} }
.gi-inbox-lock{ &:before{ content:"\E134";} }
.gi-inbox-in{ &:before{ content:"\E135";} }
.gi-inbox-out{ &:before{ content:"\E136";} }
.gi-cogwheel{ &:before{ content:"\E137";} }
.gi-cogwheels{ &:before{ content:"\E138";} }
.gi-picture{ &:before{ content:"\E139";} }
.gi-adjust-alt{ &:before{ content:"\E140";} }
.gi-database-lock{ &:before{ content:"\E141";} }
.gi-database-plus{ &:before{ content:"\E142";} }
.gi-database-minus{ &:before{ content:"\E143";} }
.gi-database-ban{ &:before{ content:"\E144";} }
.gi-folder-open{ &:before{ content:"\E145";} }
.gi-folder-plus{ &:before{ content:"\E146";} }
.gi-folder-minus{ &:before{ content:"\E147";} }
.gi-folder-lock{ &:before{ content:"\E148";} }
.gi-folder-flag{ &:before{ content:"\E149";} }
.gi-folder-new{ &:before{ content:"\E150";} }
.gi-edit{ &:before{ content:"\E151";} }
.gi-new-window{ &:before{ content:"\E152";} }
.gi-check{ &:before{ content:"\E153";} }
.gi-unchecked{ &:before{ content:"\E154";} }
.gi-more-windows{ &:before{ content:"\E155";} }
.gi-show-big-thumbnails{ &:before{ content:"\E156";} }
.gi-show-thumbnails{ &:before{ content:"\E157";} }
.gi-show-thumbnails-with-lines{ &:before{ content:"\E158";} }
.gi-show-lines{ &:before{ content:"\E159";} }
.gi-playlist{ &:before{ content:"\E160";} }
.gi-imac{ &:before{ content:"\E161";} }
.gi-macbook{ &:before{ content:"\E162";} }
.gi-ipad{ &:before{ content:"\E163";} }
.gi-iphone{ &:before{ content:"\E164";} }
.gi-iphone-transfer{ &:before{ content:"\E165";} }
.gi-iphone-exchange{ &:before{ content:"\E166";} }
.gi-ipod{ &:before{ content:"\E167";} }
.gi-ipod-shuffle{ &:before{ content:"\E168";} }
.gi-ear-plugs{ &:before{ content:"\E169";} }
.gi-record{ &:before{ content:"\E170";} }
.gi-step-backward{ &:before{ content:"\E171";} }
.gi-fast-backward{ &:before{ content:"\E172";} }
.gi-rewind{ &:before{ content:"\E173";} }
.gi-play{ &:before{ content:"\E174";} }
.gi-pause{ &:before{ content:"\E175";} }
.gi-stop{ &:before{ content:"\E176";} }
.gi-forward{ &:before{ content:"\E177";} }
.gi-fast-forward{ &:before{ content:"\E178";} }
.gi-step-forward{ &:before{ content:"\E179";} }
.gi-eject{ &:before{ content:"\E180";} }
.gi-facetime-video{ &:before{ content:"\E181";} }
.gi-download-alt{ &:before{ content:"\E182";} }
.gi-mute{ &:before{ content:"\E183";} }
.gi-volume-down{ &:before{ content:"\E184";} }
.gi-volume-up{ &:before{ content:"\E185";} }
.gi-screenshot{ &:before{ content:"\E186";} }
.gi-move{ &:before{ content:"\E187";} }
.gi-more{ &:before{ content:"\E188";} }
.gi-brightness-reduce{ &:before{ content:"\E189";} }
.gi-brightness-increase{ &:before{ content:"\E190";} }
.gi-circle-plus{ &:before{ content:"\E191";} }
.gi-circle-minus{ &:before{ content:"\E192";} }
.gi-circle-remove{ &:before{ content:"\E193";} }
.gi-circle-ok{ &:before{ content:"\E194";} }
.gi-circle-question-mark{ &:before{ content:"\E195";} }
.gi-circle-info{ &:before{ content:"\E196";} }
.gi-circle-exclamation-mark{ &:before{ content:"\E197";} }
.gi-remove{ &:before{ content:"\E198";} }
.gi-ok{ &:before{ content:"\E199";} }
.gi-ban{ &:before{ content:"\E200";} }
.gi-download{ &:before{ content:"\E201";} }
.gi-upload{ &:before{ content:"\E202";} }
.gi-shopping-cart{ &:before{ content:"\E203";} }
.gi-lock{ &:before{ content:"\E204";} }
.gi-unlock{ &:before{ content:"\E205";} }
.gi-electricity{ &:before{ content:"\E206";} }
.gi-ok-2{ &:before{ content:"\E207";} }
.gi-remove-2{ &:before{ content:"\E208";} }
.gi-cart-out{ &:before{ content:"\E209";} }
.gi-cart-in{ &:before{ content:"\E210";} }
.gi-left-arrow{ &:before{ content:"\E211";} }
.gi-right-arrow{ &:before{ content:"\E212";} }
.gi-down-arrow{ &:before{ content:"\E213";} }
.gi-up-arrow{ &:before{ content:"\E214";} }
.gi-resize-small{ &:before{ content:"\E215";} }
.gi-resize-full{ &:before{ content:"\E216";} }
.gi-circle-arrow-left{ &:before{ content:"\E217";} }
.gi-circle-arrow-right{ &:before{ content:"\E218";} }
.gi-circle-arrow-top{ &:before{ content:"\E219";} }
.gi-circle-arrow-down{ &:before{ content:"\E220";} }
.gi-play-button{ &:before{ content:"\E221";} }
.gi-unshare{ &:before{ content:"\E222";} }
.gi-share{ &:before{ content:"\E223";} }
.gi-chevron-right{ &:before{ content:"\E224";} }
.gi-chevron-left{ &:before{ content:"\E225";} }
.gi-bluetooth{ &:before{ content:"\E226";} }
.gi-euro{ &:before{ content:"\20AC";} }
.gi-usd{ &:before{ content:"\E228";} }
.gi-gbp{ &:before{ content:"\E229";} }
.gi-retweet-2{ &:before{ content:"\E230";} }
.gi-moon{ &:before{ content:"\E231";} }
.gi-sun{ &:before{ content:"\2609";} }
.gi-cloud{ &:before{ content:"\2601";} }
.gi-direction{ &:before{ content:"\E234";} }
.gi-brush{ &:before{ content:"\E235";} }
.gi-pen{ &:before{ content:"\E236";} }
.gi-zoom-in{ &:before{ content:"\E237";} }
.gi-zoom-out{ &:before{ content:"\E238";} }
.gi-pin{ &:before{ content:"\E239";} }
.gi-albums{ &:before{ content:"\E240";} }
.gi-rotation-lock{ &:before{ content:"\E241";} }
.gi-flash{ &:before{ content:"\E242";} }
.gi-google-maps{ &:before{ content:"\E243";} }
.gi-anchor{ &:before{ content:"\2693";} }
.gi-conversation{ &:before{ content:"\E245";} }
.gi-chat{ &:before{ content:"\E246";} }
.gi-male{ &:before{ content:"\E247";} }
.gi-female{ &:before{ content:"\E248";} }
.gi-asterisk{ &:before{ content:"\002A";} }
.gi-divide{ &:before{ content:"\00F7";} }
.gi-snorkel-diving{ &:before{ content:"\E251";} }
.gi-scuba-diving{ &:before{ content:"\E252";} }
.gi-oxygen-bottle{ &:before{ content:"\E253";} }
.gi-fins{ &:before{ content:"\E254";} }
.gi-fishes{ &:before{ content:"\E255";} }
.gi-boat{ &:before{ content:"\E256";} }
.gi-delete{ &:before{ content:"\E257";} }
.gi-sheriffs-star{ &:before{ content:"\E258";} }
.gi-qrcode{ &:before{ content:"\E259";} }
.gi-barcode{ &:before{ content:"\E260";} }
.gi-pool{ &:before{ content:"\E261";} }
.gi-buoy{ &:before{ content:"\E262";} }
.gi-spade{ &:before{ content:"\E263";} }
.gi-bank{ &:before{ content:"\E264";} }
.gi-vcard{ &:before{ content:"\E265";} }
.gi-electrical-plug{ &:before{ content:"\E266";} }
.gi-flag{ &:before{ content:"\E267";} }
.gi-credit-card{ &:before{ content:"\E268";} }
.gi-keyboard-wireless{ &:before{ content:"\E269";} }
.gi-keyboard-wired{ &:before{ content:"\E270";} }
.gi-shield{ &:before{ content:"\E271";} }
.gi-ring{ &:before{ content:"\02DA";} }
.gi-cake{ &:before{ content:"\E273";} }
.gi-drink{ &:before{ content:"\E274";} }
.gi-beer{ &:before{ content:"\E275";} }
.gi-fast-food{ &:before{ content:"\E276";} }
.gi-cutlery{ &:before{ content:"\E277";} }
.gi-pizza{ &:before{ content:"\E278";} }
.gi-birthday-cake{ &:before{ content:"\E279";} }
.gi-tablet{ &:before{ content:"\E280";} }
.gi-settings{ &:before{ content:"\E281";} }
.gi-bullets{ &:before{ content:"\E282";} }
.gi-cardio{ &:before{ content:"\E283";} }
.gi-t-shirt{ &:before{ content:"\E284";} }
.gi-pants{ &:before{ content:"\E285";} }
.gi-sweater{ &:before{ content:"\E286";} }
.gi-fabric{ &:before{ content:"\E287";} }
.gi-leather{ &:before{ content:"\E288";} }
.gi-scissors{ &:before{ content:"\E289";} }
.gi-bomb{ &:before{ content:"\E290";} }
.gi-skull{ &:before{ content:"\E291";} }
.gi-celebration{ &:before{ content:"\E292";} }
.gi-tea-kettle{ &:before{ content:"\E293";} }
.gi-french-press{ &:before{ content:"\E294";} }
.gi-coffee-cup{ &:before{ content:"\E295";} }
.gi-pot{ &:before{ content:"\E296";} }
.gi-grater{ &:before{ content:"\E297";} }
.gi-kettle{ &:before{ content:"\E298";} }
.gi-hospital{ &:before{ content:"\E299";} }
.gi-hospital-h{ &:before{ content:"\E300";} }
.gi-microphone{ &:before{ content:"\E301";} }
.gi-webcam{ &:before{ content:"\E302";} }
.gi-temple-christianity-church{ &:before{ content:"\E303";} }
.gi-temple-islam{ &:before{ content:"\E304";} }
.gi-temple-hindu{ &:before{ content:"\E305";} }
.gi-temple-buddhist{ &:before{ content:"\E306";} }
.gi-bicycle{ &:before{ content:"\E307";} }
.gi-life-preserver{ &:before{ content:"\E308";} }
.gi-share-alt{ &:before{ content:"\E309";} }
.gi-comments{ &:before{ content:"\E310";} }
.gi-flower{ &:before{ content:"\2698";} }
.gi-baseball{ &:before{ content:"\26BE";} }
.gi-rugby{ &:before{ content:"\E313";} }
.gi-ax{ &:before{ content:"\E314";} }
.gi-table-tennis{ &:before{ content:"\E315";} }
.gi-bowling{ &:before{ content:"\E316";} }
.gi-tree-conifer{ &:before{ content:"\E317";} }
.gi-tree-deciduous{ &:before{ content:"\E318";} }
.gi-more-items{ &:before{ content:"\E319";} }
.gi-sort{ &:before{ content:"\E320";} }
.gi-filter{ &:before{ content:"\E321";} }
.gi-gamepad{ &:before{ content:"\E322";} }
.gi-playing-dices{ &:before{ content:"\E323";} }
.gi-calculator{ &:before{ content:"\E324";} }
.gi-tie{ &:before{ content:"\E325";} }
.gi-wallet{ &:before{ content:"\E326";} }
.gi-piano{ &:before{ content:"\E327";} }
.gi-sampler{ &:before{ content:"\E328";} }
.gi-podium{ &:before{ content:"\E329";} }
.gi-soccer-ball{ &:before{ content:"\E330";} }
.gi-blog{ &:before{ content:"\E331";} }
.gi-dashboard{ &:before{ content:"\E332";} }
.gi-certificate{ &:before{ content:"\E333";} }
.gi-bell{ &:before{ content:"\E334";} }
.gi-candle{ &:before{ content:"\E335";} }
.gi-pushpin{ &:before{ content:"\E336";} }
.gi-iphone-shake{ &:before{ content:"\E337";} }
.gi-pin-flag{ &:before{ content:"\E338";} }
.gi-turtle{ &:before{ content:"\E339";} }
.gi-rabbit{ &:before{ content:"\E340";} }
.gi-globe{ &:before{ content:"\E341";} }
.gi-briefcase{ &:before{ content:"\E342";} }
.gi-hdd{ &:before{ content:"\E343";} }
.gi-thumbs-up{ &:before{ content:"\E344";} }
.gi-thumbs-down{ &:before{ content:"\E345";} }
.gi-hand-right{ &:before{ content:"\E346";} }
.gi-hand-left{ &:before{ content:"\E347";} }
.gi-hand-up{ &:before{ content:"\E348";} }
.gi-hand-down{ &:before{ content:"\E349";} }
.gi-fullscreen{ &:before{ content:"\E350";} }
.gi-shopping-bag{ &:before{ content:"\E351";} }
.gi-book-open{ &:before{ content:"\E352";} }
.gi-nameplate{ &:before{ content:"\E353";} }
.gi-nameplate-alt{ &:before{ content:"\E354";} }
.gi-vases{ &:before{ content:"\E355";} }
.gi-bullhorn{ &:before{ content:"\E356";} }
.gi-dumbbell{ &:before{ content:"\E357";} }
.gi-suitcase{ &:before{ content:"\E358";} }
.gi-file-import{ &:before{ content:"\E359";} }
.gi-file-export{ &:before{ content:"\E360";} }
.gi-bug{ &:before{ content:"\E361";} }
.gi-crown{ &:before{ content:"\E362";} }
.gi-smoking{ &:before{ content:"\E363";} }
.gi-cloud-download{ &:before{ content:"\E364";} }
.gi-cloud-upload{ &:before{ content:"\E365";} }
.gi-restart{ &:before{ content:"\E366";} }
.gi-security-camera{ &:before{ content:"\E367";} }
.gi-expand{ &:before{ content:"\E368";} }
.gi-collapse{ &:before{ content:"\E369";} }
.gi-collapse-top{ &:before{ content:"\E370";} }
.gi-globe-af{ &:before{ content:"\E371";} }
.gi-global{ &:before{ content:"\E372";} }
.gi-spray{ &:before{ content:"\E373";} }
.gi-nails{ &:before{ content:"\E374";} }
.gi-claw-hammer{ &:before{ content:"\E375";} }
.gi-classic-hammer{ &:before{ content:"\E376";} }
.gi-hand-saw{ &:before{ content:"\E377";} }
.gi-riflescope{ &:before{ content:"\E378";} }
.gi-electrical-socket-eu{ &:before{ content:"\E379";} }
.gi-electrical-socket-us{ &:before{ content:"\E380";} }
.gi-message-forward{ &:before{ content:"\E381";} }
.gi-coat-hanger{ &:before{ content:"\E382";} }
.gi-dress{ &:before{ content:"\E383";} }
.gi-bathrobe{ &:before{ content:"\E384";} }
.gi-shirt{ &:before{ content:"\E385";} }
.gi-underwear{ &:before{ content:"\E386";} }
.gi-log-in{ &:before{ content:"\E387";} }
.gi-log-out{ &:before{ content:"\E388";} }
.gi-exit{ &:before{ content:"\E389";} }
.gi-new-window-alt{ &:before{ content:"\E390";} }
.gi-video-sd{ &:before{ content:"\E391";} }
.gi-video-hd{ &:before{ content:"\E392";} }
.gi-subtitles{ &:before{ content:"\E393";} }
.gi-sound-stereo{ &:before{ content:"\E394";} }
.gi-sound-dolby{ &:before{ content:"\E395";} }
.gi-sound-5-1{ &:before{ content:"\E396";} }
.gi-sound-6-1{ &:before{ content:"\E397";} }
.gi-sound-7-1{ &:before{ content:"\E398";} }
.gi-copyright-mark{ &:before{ content:"\E399";} }
.gi-registration-mark{ &:before{ content:"\E400";} }
.gi-radar{ &:before{ content:"\E401";} }
.gi-skateboard{ &:before{ content:"\E402";} }
.gi-golf-course{ &:before{ content:"\E403";} }
.gi-sorting{ &:before{ content:"\E404";} }
.gi-sort-by-alphabet{ &:before{ content:"\E405";} }
.gi-sort-by-alphabet-alt{ &:before{ content:"\E406";} }
.gi-sort-by-order{ &:before{ content:"\E407";} }
.gi-sort-by-order-alt{ &:before{ content:"\E408";} }
.gi-sort-by-attributes{ &:before{ content:"\E409";} }
.gi-sort-by-attributes-alt{ &:before{ content:"\E410";} }
.gi-compressed{ &:before{ content:"\E411";} }
.gi-package{ &:before{ content:"\E412";} }
.gi-cloud-plus{ &:before{ content:"\E413";} }
.gi-cloud-minus{ &:before{ content:"\E414";} }
.gi-disk-save{ &:before{ content:"\E415";} }
.gi-disk-open{ &:before{ content:"\E416";} }
.gi-disk-saved{ &:before{ content:"\E417";} }
.gi-disk-remove{ &:before{ content:"\E418";} }
.gi-disk-import{ &:before{ content:"\E419";} }
.gi-disk-export{ &:before{ content:"\E420";} }
.gi-tower{ &:before{ content:"\E421";} }
.gi-send{ &:before{ content:"\E422";} }
.gi-git-branch{ &:before{ content:"\E423";} }
.gi-git-create{ &:before{ content:"\E424";} }
.gi-git-private{ &:before{ content:"\E425";} }
.gi-git-delete{ &:before{ content:"\E426";} }
.gi-git-merge{ &:before{ content:"\E427";} }
.gi-git-pull-request{ &:before{ content:"\E428";} }
.gi-git-compare{ &:before{ content:"\E429";} }
.gi-git-commit{ &:before{ content:"\E430";} }
.gi-construction-cone{ &:before{ content:"\E431";} }
.gi-shoe-steps{ &:before{ content:"\E432";} }
.gi-plus{ &:before{ content:"\002B";} }
.gi-minus{ &:before{ content:"\2212";} }
.gi-redo{ &:before{ content:"\E435";} }
.gi-undo{ &:before{ content:"\E436";} }
.gi-golf{ &:before{ content:"\E437";} }
.gi-hockey{ &:before{ content:"\E438";} }
.gi-pipe{ &:before{ content:"\E439";} }
.gi-wrench{ &:before{ content:"\E440";} }
.gi-folder-closed{ &:before{ content:"\E441";} }
.gi-phone-alt{ &:before{ content:"\E442";} }
.gi-earphone{ &:before{ content:"\E443";} }
.gi-floppy-disk{ &:before{ content:"\E444";} }
.gi-floppy-saved{ &:before{ content:"\E445";} }
.gi-floppy-remove{ &:before{ content:"\E446";} }
.gi-floppy-save{ &:before{ content:"\E447";} }
.gi-floppy-open{ &:before{ content:"\E448";} }
.gi-translate{ &:before{ content:"\E449";} }
.gi-fax{ &:before{ content:"\E450";} }
.gi-factory{ &:before{ content:"\E451";} }
.gi-shop-window{ &:before{ content:"\E452";} }
.gi-shop{ &:before{ content:"\E453";} }
.gi-kiosk{ &:before{ content:"\E454";} }
.gi-kiosk-wheels{ &:before{ content:"\E455";} }
.gi-kiosk-light{ &:before{ content:"\E456";} }
.gi-kiosk-food{ &:before{ content:"\E457";} }
.gi-transfer{ &:before{ content:"\E458";} }
.gi-money{ &:before{ content:"\E459";} }
.gi-header{ &:before{ content:"\E460";} }
.gi-blacksmith{ &:before{ content:"\E461";} }
.gi-saw-blade{ &:before{ content:"\E462";} }
.gi-basketball{ &:before{ content:"\E463";} }
.gi-server{ &:before{ content:"\E464";} }
.gi-server-plus{ &:before{ content:"\E465";} }
.gi-server-minus{ &:before{ content:"\E466";} }
.gi-server-ban{ &:before{ content:"\E467";} }
.gi-server-flag{ &:before{ content:"\E468";} }
.gi-server-lock{ &:before{ content:"\E469";} }
.gi-server-new{ &:before{ content:"\E470";} }
.gi-charging-station{ &:before{ content:"\F471";} }
.gi-gas-station{ &:before{ content:"\E472";} }
.gi-target{ &:before{ content:"\E473";} }
.gi-bed-alt{ &:before{ content:"\E474";} }
.gi-mosquito-net{ &:before{ content:"\E475";} }
.gi-dining-set{ &:before{ content:"\E476";} }
.gi-plate-of-food{ &:before{ content:"\E477";} }
.gi-hygiene-kit{ &:before{ content:"\E478";} }
.gi-blackboard{ &:before{ content:"\E479";} }
.gi-marriage{ &:before{ content:"\E480";} }
.gi-bucket{ &:before{ content:"\E481";} }
.gi-none-color-swatch{ &:before{ content:"\E482";} }
.gi-bring-forward{ &:before{ content:"\E483";} }
.gi-bring-to-front{ &:before{ content:"\E484";} }
.gi-send-backward{ &:before{ content:"\E485";} }
.gi-send-to-back{ &:before{ content:"\E486";} }
.gi-fit-frame-to-image{ &:before{ content:"\E487";} }
.gi-fit-image-to-frame{ &:before{ content:"\E488";} }
.gi-multiple-displays{ &:before{ content:"\E489";} }
.gi-handshake{ &:before{ content:"\E490";} }
.gi-child{ &:before{ content:"\E491";} }
.gi-baby-formula{ &:before{ content:"\E492";} }
.gi-medicine{ &:before{ content:"\E493";} }
.gi-atv-vehicle{ &:before{ content:"\E494";} }
.gi-motorcycle{ &:before{ content:"\E495";} }
.gi-bed{ &:before{ content:"\E496";} }
.gi-tent{ &:before{ content:"\26FA";} }
.gi-glasses{ &:before{ content:"\E498";} }
.gi-sunglasses{ &:before{ content:"\E499";} }
.gi-family{ &:before{ content:"\E500";} }
.gi-education{ &:before{ content:"\E501";} }
.gi-shoes{ &:before{ content:"\E502";} }
.gi-map{ &:before{ content:"\E503";} }
.gi-cd{ &:before{ content:"\E504";} }
.gi-alert{ &:before{ content:"\E505";} }
.gi-piggy-bank{ &:before{ content:"\E506";} }
.gi-star-half{ &:before{ content:"\E507";} }
.gi-cluster{ &:before{ content:"\E508";} }
.gi-flowchart{ &:before{ content:"\E509";} }
.gi-commodities{ &:before{ content:"\E510";} }
.gi-duplicate{ &:before{ content:"\E511";} }
.gi-copy{ &:before{ content:"\E512";} }
.gi-paste{ &:before{ content:"\E513";} }
.gi-bath-bathtub{ &:before{ content:"\E514";} }
.gi-bath-shower{ &:before{ content:"\E515";} }
.gi-shower{ &:before{ content:"\1F6BF";} }
.gi-menu-hamburger{ &:before{ content:"\E517";} }
.gi-option-vertical{ &:before{ content:"\E518";} }
.gi-option-horizontal{ &:before{ content:"\E519";} }
.gi-currency-conversion{ &:before{ content:"\E520";} }
.gi-user-ban{ &:before{ content:"\E521";} }
.gi-user-lock{ &:before{ content:"\E522";} }
.gi-user-flag{ &:before{ content:"\E523";} }
.gi-user-asterisk{ &:before{ content:"\E524";} }
.gi-user-alert{ &:before{ content:"\E525";} }
.gi-user-key{ &:before{ content:"\E526";} }
.gi-user-conversation{ &:before{ content:"\E527";} }
.gi-database{ &:before{ content:"\E528";} }
.gi-database-search{ &:before{ content:"\E529";} }
.gi-list-alt{ &:before{ content:"\E530";} }
.gi-hazard-sign{ &:before{ content:"\E531";} }
.gi-hazard{ &:before{ content:"\E532";} }
.gi-stop-sign{ &:before{ content:"\E533";} }
.gi-lab{ &:before{ content:"\E534";} }
.gi-lab-alt{ &:before{ content:"\E535";} }
.gi-ice-cream{ &:before{ content:"\E536";} }
.gi-ice-lolly{ &:before{ content:"\E537";} }
.gi-ice-lolly-tasted{ &:before{ content:"\E538";} }
.gi-invoice{ &:before{ content:"\E539";} }
.gi-cart-tick{ &:before{ content:"\E540";} }
.gi-hourglass{ &:before{ content:"\231B";} }
.gi-cat{ &:before{ content:"\1F408";} }
.gi-lamp{ &:before{ content:"\E543";} }
.gi-scale-classic{ &:before{ content:"\E544";} }
.gi-eye-plus{ &:before{ content:"\E545";} }
.gi-eye-minus{ &:before{ content:"\E546";} }
.gi-quote{ &:before{ content:"\E547";} }
.gi-bitcoin{ &:before{ content:"\E548";} }
.gi-yen{ &:before{ content:"\00A5";} }
.gi-ruble{ &:before{ content:"\20BD";} }
.gi-erase{ &:before{ content:"\E551";} }
.gi-podcast{ &:before{ content:"\E552";} }
.gi-firework{ &:before{ content:"\E553";} }
.gi-scale{ &:before{ content:"\E554";} }
.gi-king{ &:before{ content:"\E555";} }
.gi-queen{ &:before{ content:"\E556";} }
.gi-pawn{ &:before{ content:"\E557";} }
.gi-bishop{ &:before{ content:"\E558";} }
.gi-knight{ &:before{ content:"\E559";} }
.gi-mic-mute{ &:before{ content:"\E560";} }
.gi-voicemail{ &:before{ content:"\E561";} }
.gi-paragraph{ &:before{ content:"\00B6";} }
.gi-person-walking{ &:before{ content:"\E563";} }
.gi-person-wheelchair{ &:before{ content:"\E564";} }
.gi-underground{ &:before{ content:"\E565";} }
.gi-car-hov{ &:before{ content:"\E566";} }
.gi-car-rental{ &:before{ content:"\E567";} }
.gi-transport{ &:before{ content:"\E568";} }
.gi-taxi{ &:before{ content:"\1F695";} }
.gi-ice-cream-no{ &:before{ content:"\E570";} }
.gi-uk-rat-u{ &:before{ content:"\E571";} }
.gi-uk-rat-pg{ &:before{ content:"\E572";} }
.gi-uk-rat-12a{ &:before{ content:"\E573";} }
.gi-uk-rat-12{ &:before{ content:"\E574";} }
.gi-uk-rat-15{ &:before{ content:"\E575";} }
.gi-uk-rat-18{ &:before{ content:"\E576";} }
.gi-uk-rat-r18{ &:before{ content:"\E577";} }
.gi-tv{ &:before{ content:"\E578";} }
.gi-sms{ &:before{ content:"\E579";} }
.gi-mms{ &:before{ content:"\E580";} }
.gi-us-rat-g{ &:before{ content:"\E581";} }
.gi-us-rat-pg{ &:before{ content:"\E582";} }
.gi-us-rat-pg-13{ &:before{ content:"\E583";} }
.gi-us-rat-restricted{ &:before{ content:"\E584";} }
.gi-us-rat-no-one-17{ &:before{ content:"\E585";} }
.gi-equalizer{ &:before{ content:"\E586";} }
.gi-speakers{ &:before{ content:"\E587";} }
.gi-remote-control{ &:before{ content:"\E588";} }
.gi-remote-control-tv{ &:before{ content:"\E589";} }
.gi-shredder{ &:before{ content:"\E590";} }
.gi-folder-heart{ &:before{ content:"\E591";} }
.gi-person-running{ &:before{ content:"\E592";} }
.gi-person{ &:before{ content:"\E593";} }
.gi-voice{ &:before{ content:"\E594";} }
.gi-stethoscope{ &:before{ content:"\E595";} }
.gi-hotspot{ &:before{ content:"\E596";} }
.gi-activity{ &:before{ content:"\E597";} }
.gi-watch{ &:before{ content:"\231A";} }
.gi-scissors-alt{ &:before{ content:"\E599";} }
.gi-car-wheel{ &:before{ content:"\E600";} }
.gi-chevron-up{ &:before{ content:"\E601";} }
.gi-chevron-down{ &:before{ content:"\E602";} }
.gi-superscript{ &:before{ content:"\E603";} }
.gi-subscript{ &:before{ content:"\E604";} }
.gi-text-size{ &:before{ content:"\E605";} }
.gi-text-color{ &:before{ content:"\E606";} }
.gi-text-background{ &:before{ content:"\E607";} }
.gi-modal-window{ &:before{ content:"\E608";} }
.gi-newspaper{ &:before{ content:"\1F4F0";} }
.gi-tractor{ &:before{ content:"\1F69C";} }
