.sg-header {
    background: transparent;
    padding: 40px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ccc;

    .sg-h1 {
        margin: 0;
        font-family: sans-serif; // overwrite CB css
        line-height: 1.45em;
    }
}
