.sg-layout {
	.sg-nav-button {
		z-index: 3;

		&--close {
			opacity: 0;
			left: 0;
		}
	}

	.sg-nav {
		opacity: 0;
		transform: translateX(-300px);
		z-index: 2;
	}

	&.nav-is-open {
		.sg-nav-button {
			&--open {
				opacity: 0;
			}

			&--close {
				display: block;
				left: 250px;
				opacity: 1;
			}
		}

		.sg-nav {
			opacity: 1;
			transform: translateX(0);
		}

		.sg-container {
			margin-left: $nav_width;
		}
	}
}

