.sg-nav-button {
	display: block;
	position: fixed;
	top: 0;
	width: 50px;
	height: 32px;
	padding-top: 10px;
    text-align: center;
    z-index: 1;
    cursor: pointer;
    color: #57c0c9;
    transition: opacity;
    transition-duration: $nav_hide_duration;

	&--close {
		left: $nav_width - 50px;
	}

	&--open {
		left: 0;
	}
}
