.sg-nav {
	position: fixed;
	top: 0;
	left: 0;
	width: $nav_width;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	background: #edece8;
	transition: opacity, transform;
	transition-duration: $nav_hide_duration;

	ul {
		margin-bottom: 0;
		padding-top: 45px;
		padding-left: 40px;
		list-style-type: none;
	
		li {
			padding: 10px 0;
			border-bottom: 1px solid #ddd;

			a {
				text-decoration: none;
				font-size: 22px;
				font-weight: 300;
				color: #555555;
				
				&:hover,
				&:active {
				    text-decoration: underline;
				}

				&.is-active {
				    text-decoration: underline;
				}
			}

			ul {
				padding-top: 5px;
				padding-left: 0px;

				li {
					padding: 5px 10px;
					border-bottom: none;

					a {
						padding-left: 10px;
						border-left: 2px solid #edece8;
						font-size: 18px;
						font-weight: 400;

						&:hover,
						&:active {
						    text-decoration: none;
						    border-left: 2px solid #ff8800;
						    color: #ff8800;
						}
					}
				}

			}
		}
	}
}
