@import 'components/page/description';
@import 'components/page/header';
@import 'components/page/heading';
@import 'components/page/content';

.sg-page {
    padding: 0 $page_horizontal_padding;

    .sg-page-header {
        padding: 40px 0;
    }

    .sg-section {
        padding: 40px 0;
        border-bottom: 1px dashed #ccc;

        &:last-child {
            border-bottom: none;
        }
    }
}
