@import 'components/section/heading';
@import 'components/section/description';
@import 'components/section/content';

.sg-section {
    .sg-section-heading {
        margin-top: -5px;
        margin-bottom: 0;
        line-height: 1.45em;
    }

    .sg-section-description {
        margin-top: 20px - 11px;
        margin-bottom: 0;
    }

    .sg-section-content {
        margin-top: 20px - 6px;
    }
}
